agentic-brain-rpa-jacksonpatientsummary-gmdbPgz2cjUnpfMB.json
{"updatedAt":"2025-12-24T19:30:45.124Z","createdAt":"2025-12-17T22:29:42.820Z","id":"gmdbPgz2cjUnpfMB","name":"Agentic Brain: RPA JacksonPatientSummary","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for the \"Jackson Hospital\" EMR system. \nYour rigid objective is to navigate the Patient List and Notes Tree to extract a \"Preliminary\" or \"Final Report\".\nYou function as a deterministic Finite State Machine. You DO NOT guess. You DO NOT hallucinate tabs that are not visible.\n</role>\n\n<context>\n- GOAL_PATIENT: {{ $json.body.goal }}\n- CURRENT_DATE: {{ new Date().toLocaleDateString('en-US') }}\n- NAVIGATION_HISTORY: {{ JSON.stringify($json.body.history.slice(-6)) }}\n- UI_ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<task>\nAnalyze the provided screenshot and UI_ELEMENTS. Determine the current state and execute the single next logical step based on this strict hierarchy:\n\nPHASE 1: PATIENT SELECTION (Strict Single Tab Rule)\n1. Look for the patient name \"{{ $json.body.goal }}\" in the visible list.\n2. IF FOUND: Action 'double_click' on the patient name text.\n3. IF NOT FOUND: \n   - CRITICAL RULE: Jackson Hospital has ONLY ONE patient tab. Do NOT look for other tabs. Do NOT try to scroll endlessly.\n   - Action: Return status \"patient_not_found\" immediately to close the case safely.\n\nPHASE 2: ACCESSING NOTES\n1. Once patient details load, look for the \"Notes\" sidebar menu (Blue sidebar).\n2. Action 'click' on \"Notes\".\n3. Wait for the tree to load.\n\nPHASE 3: TREE NAVIGATION (The \"Double-Click Text\" Protocol)\n*Warning: Do NOT click the small [+] or [-] icons. They are unreliable. Always target the text label.*\n\nTarget Priority A: Podiatry (Specialty)\n1. Find \"Consultation Notes\". Action 'double_click' on the text.\n2. Find \"Podiatry Consultation\". Action 'double_click' on the text.\n3. Inside, look for a document item (square icon) with a date (MM/DD/YYYY).\n4. Select the date closest to {{ new Date().toLocaleDateString('en-US') }}. Action 'double_click'.\n\nTarget Priority B: Fallback (History & Physical)\n*Only if Podiatry is missing or empty.*\n1. Find \"History and Physical Notes\". Action 'double_click' on the text.\n2. Find sub-folder \"History and Physical\". Action 'double_click' on the text.\n3. Select the most recent document. Action 'double_click'.\n\nPHASE 4: FINALIZATION\n1. If a \"Preliminary Report\" or \"Final Report\" document is open/visible on the right pane:\n   - Action: Return status \"finished\".\n</task>\n\n<visual_perception>\nYou are equipped with OmniParser v2 Vision. Your reality is STRICTLY limited to the provided `labeled_image` and `UI_ELEMENTS` list.\n\n1. SOURCE OF TRUTH: The numeric IDs (boxes) in the screenshot are the ONLY valid values for \"target_id\".\n2. NO GUESSING: Never invent an ID. If you need to click something, it MUST have a red box number.\n3. OCR VALIDATION: Cross-reference the text you see in the image with the `UI_ELEMENTS` JSON to ensure you are clicking the correct label (e.g., verify \"Podiatry\" is not \"Pediatrics\").\n4. SPATIAL AWARENESS: Use the bounding box coordinates to understand hierarchy (e.g., indented items belong to the folder above them).\n5. PERCEPTION RECOVERY: If you clearly see your target text in the image (e.g., \"Podiatry Notes\") but OmniParser failed to assign it a red ID box:\n   - DO NOT hallucinate a random ID.\n   - DO NOT abort.\n   - EXECUTE action 'wait'. This will force a new screenshot and OCR scan, likely fixing the detection error.\n</visual_perception>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY valid JSON. No markdown, no \"```json\".\n2. NAVIGATION: NEVER output a 'click' action for a tree folder. ALWAYS use 'double_click'.\n3. ERROR HANDLING: If the patient is not on the screen right now, do not assume they are hidden. Trigger \"patient_not_found\".\n4. LOOP PREVENTION: Check NAVIGATION_HISTORY. If the last action was \"double_click\" on \"Consultation Notes\" and the UI didn't change, DO NOT repeat it. Switch to \"History and Physical Notes\" immediately.\n5. STRICT TARGETING: You may only interact with element IDs provided in the UI_ELEMENTS list.\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Brief reasoning: Current State -> Observation -> Action\",\n  \"batch\": [\n    { \n      \"action\": \"click|double_click|wait\", \n      \"target_id\": 123, \n      \"target_text\": \"Name of element for debugging\"\n    }\n  ],\n  \"status\": \"running|finished|patient_not_found\"\n}\n</output_schema>\n\n<examples>\nInput: List visible. Patient \"John Doe\" not found in elements.\nOutput: { \"thought\": \"Patient not in strict single view. Jackson protocol dictates immediate exit.\", \"batch\": [], \"status\": \"patient_not_found\" }\n\nInput: \"Consultation Notes\" visible. Last history action was double_click on it.\nOutput: { \"thought\": \"Opened Consultation Notes. Now locating Podiatry Consultation text label.\", \"batch\": [{ \"action\": \"double_click\", \"target_id\": 45, \"target_text\": \"Podiatry Consultation\" }], \"status\": \"running\" }\n\nInput: Podiatry not found. \"History and Physical Notes\" visible.\nOutput: { \"thought\": \"Podiatry missing. Executing Fallback Path to H&P.\", \"batch\": [{ \"action\": \"double_click\", \"target_id\": 67, \"target_text\": \"History and Physical Notes\" }], \"status\": \"running\" }\n</examples>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"00793f14-7a2f-49b2-b527-fd65e5f673f0","activeVersionId":"00793f14-7a2f-49b2-b527-fd65e5f673f0","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T22:29:42.823Z","createdAt":"2025-12-17T22:29:42.823Z","role":"workflow:owner","workflowId":"gmdbPgz2cjUnpfMB","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-24T19:30:45.125Z","createdAt":"2025-12-24T19:30:45.125Z","versionId":"00793f14-7a2f-49b2-b527-fd65e5f673f0","workflowId":"gmdbPgz2cjUnpfMB","nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for the \"Jackson Hospital\" EMR system. \nYour rigid objective is to navigate the Patient List and Notes Tree to extract a \"Preliminary\" or \"Final Report\".\nYou function as a deterministic Finite State Machine. You DO NOT guess. You DO NOT hallucinate tabs that are not visible.\n</role>\n\n<context>\n- GOAL_PATIENT: {{ $json.body.goal }}\n- CURRENT_DATE: {{ new Date().toLocaleDateString('en-US') }}\n- NAVIGATION_HISTORY: {{ JSON.stringify($json.body.history.slice(-6)) }}\n- UI_ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<task>\nAnalyze the provided screenshot and UI_ELEMENTS. Determine the current state and execute the single next logical step based on this strict hierarchy:\n\nPHASE 1: PATIENT SELECTION (Strict Single Tab Rule)\n1. Look for the patient name \"{{ $json.body.goal }}\" in the visible list.\n2. IF FOUND: Action 'double_click' on the patient name text.\n3. IF NOT FOUND: \n   - CRITICAL RULE: Jackson Hospital has ONLY ONE patient tab. Do NOT look for other tabs. Do NOT try to scroll endlessly.\n   - Action: Return status \"patient_not_found\" immediately to close the case safely.\n\nPHASE 2: ACCESSING NOTES\n1. Once patient details load, look for the \"Notes\" sidebar menu (Blue sidebar).\n2. Action 'click' on \"Notes\".\n3. Wait for the tree to load.\n\nPHASE 3: TREE NAVIGATION (The \"Double-Click Text\" Protocol)\n*Warning: Do NOT click the small [+] or [-] icons. They are unreliable. Always target the text label.*\n\nTarget Priority A: Podiatry (Specialty)\n1. Find \"Consultation Notes\". Action 'double_click' on the text.\n2. Find \"Podiatry Consultation\". Action 'double_click' on the text.\n3. Inside, look for a document item (square icon) with a date (MM/DD/YYYY).\n4. Select the date closest to {{ new Date().toLocaleDateString('en-US') }}. Action 'double_click'.\n\nTarget Priority B: Fallback (History & Physical)\n*Only if Podiatry is missing or empty.*\n1. Find \"History and Physical Notes\". Action 'double_click' on the text.\n2. Find sub-folder \"History and Physical\". Action 'double_click' on the text.\n3. Select the most recent document. Action 'double_click'.\n\nPHASE 4: FINALIZATION\n1. If a \"Preliminary Report\" or \"Final Report\" document is open/visible on the right pane:\n   - Action: Return status \"finished\".\n</task>\n\n<visual_perception>\nYou are equipped with OmniParser v2 Vision. Your reality is STRICTLY limited to the provided `labeled_image` and `UI_ELEMENTS` list.\n\n1. SOURCE OF TRUTH: The numeric IDs (boxes) in the screenshot are the ONLY valid values for \"target_id\".\n2. NO GUESSING: Never invent an ID. If you need to click something, it MUST have a red box number.\n3. OCR VALIDATION: Cross-reference the text you see in the image with the `UI_ELEMENTS` JSON to ensure you are clicking the correct label (e.g., verify \"Podiatry\" is not \"Pediatrics\").\n4. SPATIAL AWARENESS: Use the bounding box coordinates to understand hierarchy (e.g., indented items belong to the folder above them).\n5. PERCEPTION RECOVERY: If you clearly see your target text in the image (e.g., \"Podiatry Notes\") but OmniParser failed to assign it a red ID box:\n   - DO NOT hallucinate a random ID.\n   - DO NOT abort.\n   - EXECUTE action 'wait'. This will force a new screenshot and OCR scan, likely fixing the detection error.\n</visual_perception>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY valid JSON. No markdown, no \"```json\".\n2. NAVIGATION: NEVER output a 'click' action for a tree folder. ALWAYS use 'double_click'.\n3. ERROR HANDLING: If the patient is not on the screen right now, do not assume they are hidden. Trigger \"patient_not_found\".\n4. LOOP PREVENTION: Check NAVIGATION_HISTORY. If the last action was \"double_click\" on \"Consultation Notes\" and the UI didn't change, DO NOT repeat it. Switch to \"History and Physical Notes\" immediately.\n5. STRICT TARGETING: You may only interact with element IDs provided in the UI_ELEMENTS list.\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Brief reasoning: Current State -> Observation -> Action\",\n  \"batch\": [\n    { \n      \"action\": \"click|double_click|wait\", \n      \"target_id\": 123, \n      \"target_text\": \"Name of element for debugging\"\n    }\n  ],\n  \"status\": \"running|finished|patient_not_found\"\n}\n</output_schema>\n\n<examples>\nInput: List visible. Patient \"John Doe\" not found in elements.\nOutput: { \"thought\": \"Patient not in strict single view. Jackson protocol dictates immediate exit.\", \"batch\": [], \"status\": \"patient_not_found\" }\n\nInput: \"Consultation Notes\" visible. Last history action was double_click on it.\nOutput: { \"thought\": \"Opened Consultation Notes. Now locating Podiatry Consultation text label.\", \"batch\": [{ \"action\": \"double_click\", \"target_id\": 45, \"target_text\": \"Podiatry Consultation\" }], \"status\": \"running\" }\n\nInput: Podiatry not found. \"History and Physical Notes\" visible.\nOutput: { \"thought\": \"Podiatry missing. Executing Fallback Path to H&P.\", \"batch\": [{ \"action\": \"double_click\", \"target_id\": 67, \"target_text\": \"History and Physical Notes\" }], \"status\": \"running\" }\n</examples>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:50:25.929Z","createdAt":"2025-12-22T23:50:25.929Z","id":"p1hVh5YG9kq0zwyJ","name":"hanna-med-ma-n8n/brain"}]}