agentic-brain:-baptist-patient-summary-z71PL1lOSbBmEuBC.json
{"updatedAt":"2025-12-22T22:17:43.940Z","createdAt":"2025-12-19T00:13:31.568Z","id":"z71PL1lOSbBmEuBC","name":"Agentic Brain: Baptist Patient Summary","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"99ea723b-f677-4736-b910-a986d118845f","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"2751beef-1873-4f9d-9ad6-7f56a0d77bb0","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"aceb45fb-650e-4c22-8125-65a975be9e72","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-baptist-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"26ff5f7e-f4a7-4425-acf9-4183447e3129","name":"Webhook RPA","webhookId":"2471f1b7-3daf-4e95-b79e-bfc99c98e941"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex notes tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report following this mandatory sequence:\n\n1. INITIAL NAVIGATION: Locate the left-hand menu. Click ONLY on \"Notes\". \n   - CRITICAL: Do NOT click \"Documentation\" or any other similar menu item.\n2. VIEW OPTIMIZATION: Once the \"Notes\" section is active, you MUST find and click the \"Full Screen\" button/icon. This is mandatory to render the full document tree and avoid delays.\n3. SPECIALTY IDENTIFICATION: Identify Specialty (from Header/Context). Priority: Podiatry (DPM).\n4. PRIMARY PATH: \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n5. FALLBACK PATH: \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. MENU PRECISION: In the patient summary sidebar, the only valid target is \"Notes\". If you are not in the Notes view, your priority is to click it.\n2. FULL SCREEN MODE: You must activate \"Full Screen\" immediately after entering \"Notes\". This ensures the document tree is fully visible and navigable. Do not attempt to expand folders until Full Screen is active.\n3. FOLDER EXPANSION: To expand a folder in the tree, use 'double_click' on the folder text. If 'click' on the [+] icon failed in history, YOU MUST use 'double_click' on the label.\n4. DOCUMENT IDENTIFICATION: Folders have \"Notes\" or \"Consultation\" in the name. Documents are items inside folders, usually represented by dates (e.g., \"12/17/2025\").\n5. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, change strategy: use 'double_click' or try the Fallback Path (History and Physical Notes).\n6. SUCCESS CRITERIA: If you see \"Final Report\" or \"Preliminary Report\" the task is 'finished'.\n7. ABANDONMENT PROTOCOL: If you have exhausted all search attempts (4 hospital tabs or 4 failed navigation attempts) and the target patient or report is still not found, you must STOP and return the 'patient_not_found' status. Do not attempt further clicks.\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': Use this as the DEFAULT for opening folders and documents in the sidebar tree.\n- 'click': Use for menu items like \"Notes\" and the \"Full Screen\" button.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but not expanding.\n- 'wait': Always include a 'wait' after an expansion, menu navigation, or opening a document.\n</tools_logic>\n\n<examples>\nInput: Patient Summary opened. \"Notes\" (ID 10) and \"Documentation\" (ID 11) visible in left menu.\nOutput:\n{\n  \"thought\": \"I need to access the patient's notes. I will click 'Notes' in the left menu, specifically avoiding 'Documentation'.\",\n  \"batch\": [\n    { \"action\": \"click\", \"target_id\": 10 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Inside \"Notes\" view. \"Full Screen\" button (ID 15) is visible.\nOutput:\n{\n  \"thought\": \"I am in the Notes section. Now I must enable Full Screen to see the complete document tree and ensure faster navigation.\",\n  \"batch\": [\n    { \"action\": \"click\", \"target_id\": 15 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Full Screen active. Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"Full view enabled. I found the specialty folder. I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\nInput: Checked all 4 tabs. Patient data not visible in Consultation or H&P.\nOutput:\n{\n  \"status\": \"patient_not_found\",\n  \"reasoning\": \"Patient not found after checking all 4 hospital tabs\",\n  \"batch\": []\n}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. No markdown, no backticks.\n2. No Hallucinations: If a target_id is not in the elements list, do not invent it.\n3. Path Abandonment: If \"Consultation Notes\" yields no podiatry results after expansion, immediately switch to \"History and Physical Notes\".\n4. Mandatory Sequence: Never skip the \"Notes\" -> \"Full Screen\" sequence when starting a new patient session.\n5. EXIT CONDITION: If status is 'patient_not_found', the 'batch' array must be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"c41af999-2f3b-4959-a68a-773018012759","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"63a49023-6066-47ee-ba13-22cfe9f79587","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6783cb33-6cd6-48ea-b986-b1ef62c9a2d6","activeVersionId":"6783cb33-6cd6-48ea-b986-b1ef62c9a2d6","triggerCount":1,"shared":[{"updatedAt":"2025-12-19T00:13:31.571Z","createdAt":"2025-12-19T00:13:31.571Z","role":"workflow:owner","workflowId":"z71PL1lOSbBmEuBC","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T22:17:43.940Z","createdAt":"2025-12-22T22:17:43.940Z","versionId":"6783cb33-6cd6-48ea-b986-b1ef62c9a2d6","workflowId":"z71PL1lOSbBmEuBC","nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"99ea723b-f677-4736-b910-a986d118845f","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"2751beef-1873-4f9d-9ad6-7f56a0d77bb0","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"aceb45fb-650e-4c22-8125-65a975be9e72","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-baptist-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"26ff5f7e-f4a7-4425-acf9-4183447e3129","name":"Webhook RPA","webhookId":"2471f1b7-3daf-4e95-b79e-bfc99c98e941"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex notes tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report following this mandatory sequence:\n\n1. INITIAL NAVIGATION: Locate the left-hand menu. Click ONLY on \"Notes\". \n   - CRITICAL: Do NOT click \"Documentation\" or any other similar menu item.\n2. VIEW OPTIMIZATION: Once the \"Notes\" section is active, you MUST find and click the \"Full Screen\" button/icon. This is mandatory to render the full document tree and avoid delays.\n3. SPECIALTY IDENTIFICATION: Identify Specialty (from Header/Context). Priority: Podiatry (DPM).\n4. PRIMARY PATH: \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n5. FALLBACK PATH: \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. MENU PRECISION: In the patient summary sidebar, the only valid target is \"Notes\". If you are not in the Notes view, your priority is to click it.\n2. FULL SCREEN MODE: You must activate \"Full Screen\" immediately after entering \"Notes\". This ensures the document tree is fully visible and navigable. Do not attempt to expand folders until Full Screen is active.\n3. FOLDER EXPANSION: To expand a folder in the tree, use 'double_click' on the folder text. If 'click' on the [+] icon failed in history, YOU MUST use 'double_click' on the label.\n4. DOCUMENT IDENTIFICATION: Folders have \"Notes\" or \"Consultation\" in the name. Documents are items inside folders, usually represented by dates (e.g., \"12/17/2025\").\n5. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, change strategy: use 'double_click' or try the Fallback Path (History and Physical Notes).\n6. SUCCESS CRITERIA: If you see \"Final Report\" or \"Preliminary Report\" the task is 'finished'.\n7. ABANDONMENT PROTOCOL: If you have exhausted all search attempts (4 hospital tabs or 4 failed navigation attempts) and the target patient or report is still not found, you must STOP and return the 'patient_not_found' status. Do not attempt further clicks.\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': Use this as the DEFAULT for opening folders and documents in the sidebar tree.\n- 'click': Use for menu items like \"Notes\" and the \"Full Screen\" button.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but not expanding.\n- 'wait': Always include a 'wait' after an expansion, menu navigation, or opening a document.\n</tools_logic>\n\n<examples>\nInput: Patient Summary opened. \"Notes\" (ID 10) and \"Documentation\" (ID 11) visible in left menu.\nOutput:\n{\n  \"thought\": \"I need to access the patient's notes. I will click 'Notes' in the left menu, specifically avoiding 'Documentation'.\",\n  \"batch\": [\n    { \"action\": \"click\", \"target_id\": 10 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Inside \"Notes\" view. \"Full Screen\" button (ID 15) is visible.\nOutput:\n{\n  \"thought\": \"I am in the Notes section. Now I must enable Full Screen to see the complete document tree and ensure faster navigation.\",\n  \"batch\": [\n    { \"action\": \"click\", \"target_id\": 15 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Full Screen active. Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"Full view enabled. I found the specialty folder. I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\nInput: Checked all 4 tabs. Patient data not visible in Consultation or H&P.\nOutput:\n{\n  \"status\": \"patient_not_found\",\n  \"reasoning\": \"Patient not found after checking all 4 hospital tabs\",\n  \"batch\": []\n}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. No markdown, no backticks.\n2. No Hallucinations: If a target_id is not in the elements list, do not invent it.\n3. Path Abandonment: If \"Consultation Notes\" yields no podiatry results after expansion, immediately switch to \"History and Physical Notes\".\n4. Mandatory Sequence: Never skip the \"Notes\" -> \"Full Screen\" sequence when starting a new patient session.\n5. EXIT CONDITION: If status is 'patient_not_found', the 'batch' array must be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"c41af999-2f3b-4959-a68a-773018012759","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"63a49023-6066-47ee-ba13-22cfe9f79587","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[]}