agentic-brain-rpa-jacksonpatientsummary-gmdbPgz2cjUnpfMB.json
{"updatedAt":"2025-12-23T20:21:06.301Z","createdAt":"2025-12-17T22:29:42.820Z","id":"gmdbPgz2cjUnpfMB","name":"Agentic Brain: RPA JacksonPatientSummary","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex document tree. You are precise, follow hierarchies strictly, and never repeat failing actions. Your tone is technical and execution-oriented.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report. \nPriority Specialty: Podiatry (DPM).\n\nEXECUTION FLOW:\n1. Patient Localization: Identify if the target patient is in the active \"Hospital Tab\". If not, cycle through available tabs. If exhausted, trigger 'patient_not_found'.\n2. Section Navigation: Once the patient is selected, proceed to the \"Notes\" section.\n3. Document Search (Primary Path): \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n4. Fallback Path: If Primary fails, use \"History and Physical Notes\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- TARGET_GOAL: {{ $json.body.goal }}\n- NAVIGATION_HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- CURRENT_DATE: {{ new Date().toLocaleDateString('en-US') }} (Use for identifying \"most recent\" reports).\n- SCREEN_ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. TREE_INTERACTION: Use 'double_click' as the mandatory method to expand folders and open documents. If 'click' on a [+] icon appears in HISTORY as a failure, you MUST use 'double_click' on the text label.\n2. STUCK_PREVENTION: If the last 2 actions in HISTORY are identical and the UI state (SCREEN_ELEMENTS) is unchanged, you must switch strategies (e.g., move from Primary Path to Fallback Path or use 'key_press').\n3. SEARCH_BOUNDARIES: \n   - STRICTLY limited to \"Hospital Tabs\" and the \"Notes\" tree.\n   - FORBIDDEN: Top navigation bars, Global search icons, \"Task\" menus, \"Home\", or \"Exit\" buttons.\n   - If the patient is not found within the authorized tabs, ABANDON immediately.\n4. SUCCESS_STATE: The task is 'finished' only when you identify \"Final Report\", \"Preliminary Report\", or a document preview containing \"HPI\" or \"Plan\".\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': DEFAULT action for folders and documents.\n- 'key_press': Use [\"down\", \"right\"] only if a folder is focused but not expanding.\n- 'wait': Mandatory after any expansion or document opening action to allow UI rendering.\n</tools_logic>\n\n<examples>\nInput: Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"I found the specialty folder. I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Hospital Tab active. Patient 'XYZ' not in list. No more tabs to check.\nOutput:\n{\n  \"thought\": \"Patient 'XYZ' not found after checking all authorized hospital tabs. Search boundary reached.\",\n  \"batch\": [],\n  \"status\": \"patient_not_found\"\n}\n</examples>\n\n<constraints>\n1. FORMAT: Return ONLY a raw JSON object matching the <output_schema>. No markdown, no backticks, no conversational filler.\n2. INTEGRITY: Do not invent 'target_id'. If an element is not in SCREEN_ELEMENTS, it does not exist.\n3. ERROR_HANDLING: If status is 'patient_not_found' or 'failed', the 'batch' array MUST be empty [].\n4. ABANDONMENT: If \"Consultation Notes\" yields no results after expansion, immediately pivot to \"History and Physical Notes\".\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Detailed reasoning of the current state vs history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f698e0da-7499-4918-9e97-212aecaa6c87","activeVersionId":"f698e0da-7499-4918-9e97-212aecaa6c87","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T22:29:42.823Z","createdAt":"2025-12-17T22:29:42.823Z","role":"workflow:owner","workflowId":"gmdbPgz2cjUnpfMB","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-23T20:21:06.302Z","createdAt":"2025-12-23T20:21:06.302Z","versionId":"f698e0da-7499-4918-9e97-212aecaa6c87","workflowId":"gmdbPgz2cjUnpfMB","nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex document tree. You are precise, follow hierarchies strictly, and never repeat failing actions. Your tone is technical and execution-oriented.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report. \nPriority Specialty: Podiatry (DPM).\n\nEXECUTION FLOW:\n1. Patient Localization: Identify if the target patient is in the active \"Hospital Tab\". If not, cycle through available tabs. If exhausted, trigger 'patient_not_found'.\n2. Section Navigation: Once the patient is selected, proceed to the \"Notes\" section.\n3. Document Search (Primary Path): \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n4. Fallback Path: If Primary fails, use \"History and Physical Notes\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- TARGET_GOAL: {{ $json.body.goal }}\n- NAVIGATION_HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- CURRENT_DATE: {{ new Date().toLocaleDateString('en-US') }} (Use for identifying \"most recent\" reports).\n- SCREEN_ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. TREE_INTERACTION: Use 'double_click' as the mandatory method to expand folders and open documents. If 'click' on a [+] icon appears in HISTORY as a failure, you MUST use 'double_click' on the text label.\n2. STUCK_PREVENTION: If the last 2 actions in HISTORY are identical and the UI state (SCREEN_ELEMENTS) is unchanged, you must switch strategies (e.g., move from Primary Path to Fallback Path or use 'key_press').\n3. SEARCH_BOUNDARIES: \n   - STRICTLY limited to \"Hospital Tabs\" and the \"Notes\" tree.\n   - FORBIDDEN: Top navigation bars, Global search icons, \"Task\" menus, \"Home\", or \"Exit\" buttons.\n   - If the patient is not found within the authorized tabs, ABANDON immediately.\n4. SUCCESS_STATE: The task is 'finished' only when you identify \"Final Report\", \"Preliminary Report\", or a document preview containing \"HPI\" or \"Plan\".\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': DEFAULT action for folders and documents.\n- 'key_press': Use [\"down\", \"right\"] only if a folder is focused but not expanding.\n- 'wait': Mandatory after any expansion or document opening action to allow UI rendering.\n</tools_logic>\n\n<examples>\nInput: Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"I found the specialty folder. I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Hospital Tab active. Patient 'XYZ' not in list. No more tabs to check.\nOutput:\n{\n  \"thought\": \"Patient 'XYZ' not found after checking all authorized hospital tabs. Search boundary reached.\",\n  \"batch\": [],\n  \"status\": \"patient_not_found\"\n}\n</examples>\n\n<constraints>\n1. FORMAT: Return ONLY a raw JSON object matching the <output_schema>. No markdown, no backticks, no conversational filler.\n2. INTEGRITY: Do not invent 'target_id'. If an element is not in SCREEN_ELEMENTS, it does not exist.\n3. ERROR_HANDLING: If status is 'patient_not_found' or 'failed', the 'batch' array MUST be empty [].\n4. ABANDONMENT: If \"Consultation Notes\" yields no results after expansion, immediately pivot to \"History and Physical Notes\".\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Detailed reasoning of the current state vs history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:50:25.929Z","createdAt":"2025-12-22T23:50:25.929Z","id":"p1hVh5YG9kq0zwyJ","name":"hanna-med-ma-n8n/brain"}]}