agentic-brain-jackson-patient-summary-gmdbPgz2cjUnpfMB.json
{"updatedAt":"2025-12-22T23:50:41.114Z","createdAt":"2025-12-17T22:29:42.820Z","id":"gmdbPgz2cjUnpfMB","name":"Agentic Brain: Jackson Patient Summary","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex document tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report. \nPriority Specialty: Podiatry (DPM).\nLogic flow:\n1. Identify Specialty (from Header/Context).\n2. Primary Path: \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n3. Fallback Path: \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. FOLDER EXPANSION: To expand a folder in the tree, use 'double_click' on the folder text. If 'click' on the [+] icon failed in history, YOU MUST use 'double_click' on the label.\n2. DOCUMENT IDENTIFICATION: Folders have \"Notes\" or \"Consultation\" in the name. Documents are items inside folders, usually represented by dates (e.g., \"12/17/2025\").\n3. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, change strategy: use 'double_click' or try the Fallback Path (History and Physical Notes).\n4. SUCCESS CRITERIA: If you see \"Final Report\", \"Preliminary Report\", or a document preview with \"HPI\" or \"Plan\", the task is 'finished'.\n5. ABANDONMENT PROTOCOL: If you have exhausted all search attempts and the target patient or report is still not found, you must STOP and return the 'patient_not_found' status. Do not attempt further clicks.\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': Use this as the DEFAULT for opening folders and documents in the sidebar tree.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but not expanding.\n- 'wait': Always include a 'wait' after an expansion or opening a document.\n</tools_logic>\n\n<examples>\nInput: Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"I found the specialty folder. Based on protocol, I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Inside \"Podiatry Consultation\", found document \"12/17/2025\" (ID 45).\nOutput:\n{\n  \"thought\": \"I have reached the document level. I will double-click the most recent report date (12/17/2025) to view the content.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 45 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\nInput: Checked all 4 tabs. Patient data not visible in Consultation or H&P.\nOutput:\n{\n  \"status\": \"patient_not_found\",\n  \"reasoning\": \"Patient not found after checking hospital tab\",\n  \"batch\": []\n}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. No markdown, no backticks.\n2. No Hallucinations: If a target_id is not in the elements list, do not invent it.\n3. Path Abandonment: If \"Consultation Notes\" yields no podiatry results after expansion, immediately switch to \"History and Physical Notes\".\n4. EXIT CONDITION: If status is 'patient_not_found', the 'batch' array must be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f66e7c45-444d-42e3-b85a-03c55619a72a","activeVersionId":"f66e7c45-444d-42e3-b85a-03c55619a72a","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T22:29:42.823Z","createdAt":"2025-12-17T22:29:42.823Z","role":"workflow:owner","workflowId":"gmdbPgz2cjUnpfMB","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T23:50:41.114Z","createdAt":"2025-12-22T23:50:41.114Z","versionId":"f66e7c45-444d-42e3-b85a-03c55619a72a","workflowId":"gmdbPgz2cjUnpfMB","nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"1eba7293-6702-49a3-95f1-82e05631108d","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"acb8fbeb-22f0-4032-8039-710750fa2ef2","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"c572fb6d-4136-4602-b710-abca88f63df4","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-jackson-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"037822ef-f4db-421d-9e2b-c59db6b411f0","name":"Webhook RPA","webhookId":"jackson-summary-brain"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex document tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step to reach the patient's report. \nPriority Specialty: Podiatry (DPM).\nLogic flow:\n1. Identify Specialty (from Header/Context).\n2. Primary Path: \"Consultation Notes\" -> \"[Specialty] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n3. Fallback Path: \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. FOLDER EXPANSION: To expand a folder in the tree, use 'double_click' on the folder text. If 'click' on the [+] icon failed in history, YOU MUST use 'double_click' on the label.\n2. DOCUMENT IDENTIFICATION: Folders have \"Notes\" or \"Consultation\" in the name. Documents are items inside folders, usually represented by dates (e.g., \"12/17/2025\").\n3. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, change strategy: use 'double_click' or try the Fallback Path (History and Physical Notes).\n4. SUCCESS CRITERIA: If you see \"Final Report\", \"Preliminary Report\", or a document preview with \"HPI\" or \"Plan\", the task is 'finished'.\n5. ABANDONMENT PROTOCOL: If you have exhausted all search attempts and the target patient or report is still not found, you must STOP and return the 'patient_not_found' status. Do not attempt further clicks.\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': Use this as the DEFAULT for opening folders and documents in the sidebar tree.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but not expanding.\n- 'wait': Always include a 'wait' after an expansion or opening a document.\n</tools_logic>\n\n<examples>\nInput: Found \"Podiatry Consultation\" folder (ID 25), collapsed.\nOutput:\n{\n  \"thought\": \"I found the specialty folder. Based on protocol, I will double-click to expand it and reveal the dated documents.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 25 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\n\nInput: Inside \"Podiatry Consultation\", found document \"12/17/2025\" (ID 45).\nOutput:\n{\n  \"thought\": \"I have reached the document level. I will double-click the most recent report date (12/17/2025) to view the content.\",\n  \"batch\": [\n    { \"action\": \"double_click\", \"target_id\": 45 },\n    { \"action\": \"wait\" }\n  ],\n  \"status\": \"running\"\n}\nInput: Checked all 4 tabs. Patient data not visible in Consultation or H&P.\nOutput:\n{\n  \"status\": \"patient_not_found\",\n  \"reasoning\": \"Patient not found after checking hospital tab\",\n  \"batch\": []\n}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. No markdown, no backticks.\n2. No Hallucinations: If a target_id is not in the elements list, do not invent it.\n3. Path Abandonment: If \"Consultation Notes\" yields no podiatry results after expansion, immediately switch to \"History and Physical Notes\".\n4. EXIT CONDITION: If status is 'patient_not_found', the 'batch' array must be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"0876a959-bb96-463c-b563-0a9b14d74be2","name":"Gemini Decision","retryOnFail":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"20627d74-6c41-4e93-b61d-deae70e57786","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:50:25.929Z","createdAt":"2025-12-22T23:50:25.929Z","id":"p1hVh5YG9kq0zwyJ","name":"hanna-med-ma-n8n/brain"}]}