agentic-brain-rpa-baptistpatientsummary-z71PL1lOSbBmEuBC.json
{"updatedAt":"2025-12-24T18:05:44.424Z","createdAt":"2025-12-19T00:13:31.568Z","id":"z71PL1lOSbBmEuBC","name":"Agentic Brain: RPA BaptistPatientSummary","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"99ea723b-f677-4736-b910-a986d118845f","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"2751beef-1873-4f9d-9ad6-7f56a0d77bb0","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"aceb45fb-650e-4c22-8125-65a975be9e72","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-baptist-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"26ff5f7e-f4a7-4425-acf9-4183447e3129","name":"Webhook RPA","webhookId":"2471f1b7-3daf-4e95-b79e-bfc99c98e941"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex notes tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step following this mandatory sequence:\n\n1. PATIENT SEARCH (Hospital Tabs):\n   - You are ONLY authorized to look for the patient within the \"Hospital Tabs\".\n   - If found, proceed to \"Notes\". If not in active tab, switch to the next available hospital tab (up to 4).\n   - If after checking all 4 tabs the patient is missing, trigger ABANDONMENT PROTOCOL.\n\n2. INITIAL NAVIGATION & OPTIMIZATION:\n   - Locate left-hand menu. Click ONLY on \"Notes\". (Avoid \"Documentation\").\n   - MANDATORY: Once in \"Notes\", click the \"Full Screen\" icon immediately to render the full document tree.\n\n3. DOCUMENT EXTRACTION (Hierarchy):\n   - PRIMARY PATH: \"Consultation Notes\" -> \"[Specialty/Podiatry] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n   - FALLBACK PATH: If Primary fails, go to \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<visual_perception>\nYou are equipped with OmniParser v2 Vision. Your reality is STRICTLY limited to the provided `labeled_image` and `UI_ELEMENTS` list.\n\n1. SOURCE OF TRUTH: The numeric IDs (boxes) in the screenshot are the ONLY valid values for \"target_id\".\n2. NO GUESSING: Never invent an ID. If you need to click something, it MUST have a red box number.\n3. OCR VALIDATION: Cross-reference the text you see in the image with the `UI_ELEMENTS` JSON to ensure you are clicking the correct label (e.g., verify \"Podiatry\" is not \"Pediatrics\").\n4. SPATIAL AWARENESS: Use the bounding box coordinates to understand hierarchy (e.g., indented items belong to the folder above them).\n5. PERCEPTION RECOVERY: If you clearly see your target text in the image (e.g., \"Podiatry Notes\") but OmniParser failed to assign it a red ID box:\n   - DO NOT hallucinate a random ID.\n   - DO NOT abort.\n   - EXECUTE action 'wait'. This will force a new screenshot and OCR scan, likely fixing the detection error.\n</visual_perception>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. MENU PRECISION: The only valid target in the sidebar is \"Notes\". \n2. FULL SCREEN PRIORITY: Do not attempt to expand folders until \"Full Screen\" mode is active.\n3. FOLDER EXPANSION: Use 'double_click' on folder text as default. If a previous 'click' on a [+] icon failed in HISTORY, you MUST use 'double_click' on the label.\n4. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, switch strategy (e.g., use 'double_click' or move to Fallback Path).\n5. SEARCH BOUNDARY: Global search, top navigation bars, or \"Task\" menus are STRICTLY FORBIDDEN. Ignore any element IDs belonging to these areas.\n6. SUCCESS CRITERIA: Task is 'finished' only when \"Final Report\" or \"Preliminary Report\" is displayed.\n7. ABANDONMENT: Return 'patient_not_found' if:\n   - Patient is not visible after checking 4 hospital tabs.\n   - 4 consecutive navigation attempts fail.\n   - UI shows \"No patients found\".\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': DEFAULT for opening folders and documents in the tree.\n- 'click': For \"Notes\" menu, \"Full Screen\" button, and hospital tabs.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but won't expand.\n- 'wait': Mandatory action after any click/expansion.\n</tools_logic>\n\n<examples>\nInput: Patient Summary opened. \"Notes\" (ID 10) visible.\nOutput: {\"thought\": \"I need to access notes. Clicking 'Notes' and avoiding 'Documentation'.\", \"batch\": [{\"action\": \"click\", \"target_id\": 10}, {\"action\": \"wait\"}], \"status\": \"running\"}\n\nInput: Inside \"Notes\". \"Full Screen\" (ID 15) visible.\nOutput: {\"thought\": \"Enabling Full Screen to reveal the document tree.\", \"batch\": [{\"action\": \"click\", \"target_id\": 15}, {\"action\": \"wait\"}], \"status\": \"running\"}\n\nInput: Tab 4 active. Patient not in list.\nOutput: {\"thought\": \"Patient not found in any authorized hospital tab.\", \"batch\": [], \"status\": \"patient_not_found\"}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. NO markdown, NO backticks (```), NO introductory text.\n2. NO HALLUCINATIONS: Do not invent target_id values; use only what is provided in UI ELEMENTS.\n3. CONSISTENCY: Dates must follow MM/DD/YYYY.\n4. EXIT STATE: If status is 'patient_not_found' or 'finished', the 'batch' array MUST be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"c41af999-2f3b-4959-a68a-773018012759","name":"Gemini Decision","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"63a49023-6066-47ee-ba13-22cfe9f79587","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8ffa421f-b68b-4cbe-8f4f-1a9181cdca2e","activeVersionId":"8ffa421f-b68b-4cbe-8f4f-1a9181cdca2e","triggerCount":1,"shared":[{"updatedAt":"2025-12-19T00:13:31.571Z","createdAt":"2025-12-19T00:13:31.571Z","role":"workflow:owner","workflowId":"z71PL1lOSbBmEuBC","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-24T18:05:44.425Z","createdAt":"2025-12-24T18:05:44.425Z","versionId":"8ffa421f-b68b-4cbe-8f4f-1a9181cdca2e","workflowId":"z71PL1lOSbBmEuBC","nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,48],"id":"99ea723b-f677-4736-b910-a986d118845f","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,48],"id":"2751beef-1873-4f9d-9ad6-7f56a0d77bb0","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Robust JSON Cleaner with Batch Support\n// Gemini often returns ```json ... ``` which breaks normal parsers\n\nlet rawText = $input.first().json.text\n\n// 1. Remove markdown blocks\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Clean extra whitespace\nrawText = rawText.trim();\n\ntry {\n  // 3. Parse\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalize optional fields\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n  \n  // 5. Map 'thought' to 'reasoning' for RPA compatibility\n  if (cleanJSON.thought && !cleanJSON.reasoning) {\n    cleanJSON.reasoning = cleanJSON.thought;\n  }\n  \n  // 6. Validate batch if present\n  if (cleanJSON.batch && Array.isArray(cleanJSON.batch)) {\n    console.log(`Batch mode: ${cleanJSON.batch.length} actions`);\n  }\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback if JSON is broken - wait and retry\n  return { json: { action: 'wait', reasoning: 'Failed to parse response, waiting...', status: 'running' } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"aceb45fb-650e-4c22-8125-65a975be9e72","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-baptist-summary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,48],"id":"26ff5f7e-f4a7-4425-acf9-4183447e3129","name":"Webhook RPA","webhookId":"2471f1b7-3daf-4e95-b79e-bfc99c98e941"},{"parameters":{"promptType":"define","text":"=<role>\nYou are the Senior RPA Navigation Architect for Cerner PowerChart. Your goal is to extract a \"Final Report\" or \"Preliminary Report\" by navigating a complex notes tree. You are precise, follow hierarchies strictly, and never repeat failing actions.\n</role>\n\n<task>\nIdentify the current UI state and execute the next logical step following this mandatory sequence:\n\n1. PATIENT SEARCH (Hospital Tabs):\n   - You are ONLY authorized to look for the patient within the \"Hospital Tabs\".\n   - If found, proceed to \"Notes\". If not in active tab, switch to the next available hospital tab (up to 4).\n   - If after checking all 4 tabs the patient is missing, trigger ABANDONMENT PROTOCOL.\n\n2. INITIAL NAVIGATION & OPTIMIZATION:\n   - Locate left-hand menu. Click ONLY on \"Notes\". (Avoid \"Documentation\").\n   - MANDATORY: Once in \"Notes\", click the \"Full Screen\" icon immediately to render the full document tree.\n\n3. DOCUMENT EXTRACTION (Hierarchy):\n   - PRIMARY PATH: \"Consultation Notes\" -> \"[Specialty/Podiatry] Consultation\" -> Open most recent Document (MM/DD/YYYY).\n   - FALLBACK PATH: If Primary fails, go to \"History and Physical Notes\" -> \"History and Physical\" -> \"History and Physical\" -> Open most recent Document.\n</task>\n\n<visual_perception>\nYou are equipped with OmniParser v2 Vision. Your reality is STRICTLY limited to the provided `labeled_image` and `UI_ELEMENTS` list.\n\n1. SOURCE OF TRUTH: The numeric IDs (boxes) in the screenshot are the ONLY valid values for \"target_id\".\n2. NO GUESSING: Never invent an ID. If you need to click something, it MUST have a red box number.\n3. OCR VALIDATION: Cross-reference the text you see in the image with the `UI_ELEMENTS` JSON to ensure you are clicking the correct label (e.g., verify \"Podiatry\" is not \"Pediatrics\").\n4. SPATIAL AWARENESS: Use the bounding box coordinates to understand hierarchy (e.g., indented items belong to the folder above them).\n5. PERCEPTION RECOVERY: If you clearly see your target text in the image (e.g., \"Podiatry Notes\") but OmniParser failed to assign it a red ID box:\n   - DO NOT hallucinate a random ID.\n   - DO NOT abort.\n   - EXECUTE action 'wait'. This will force a new screenshot and OCR scan, likely fixing the detection error.\n</visual_perception>\n\n<context>\n- GOAL: {{ $json.body.goal }}\n- RECENT HISTORY: {{ JSON.stringify($json.body.history.slice(-5)) }} \n- DATE FORMAT: Reports are named by date (MM/DD/YYYY). Today is {{ new Date().toLocaleDateString('en-US') }}.\n- UI ELEMENTS: {{ JSON.stringify($json.body.screen.elements) }}\n</context>\n\n<navigation_rules>\n1. MENU PRECISION: The only valid target in the sidebar is \"Notes\". \n2. FULL SCREEN PRIORITY: Do not attempt to expand folders until \"Full Screen\" mode is active.\n3. FOLDER EXPANSION: Use 'double_click' on folder text as default. If a previous 'click' on a [+] icon failed in HISTORY, you MUST use 'double_click' on the label.\n4. STUCK DETECTION: If the last 2 actions in HISTORY are identical and the UI hasn't changed, switch strategy (e.g., use 'double_click' or move to Fallback Path).\n5. SEARCH BOUNDARY: Global search, top navigation bars, or \"Task\" menus are STRICTLY FORBIDDEN. Ignore any element IDs belonging to these areas.\n6. SUCCESS CRITERIA: Task is 'finished' only when \"Final Report\" or \"Preliminary Report\" is displayed.\n7. ABANDONMENT: Return 'patient_not_found' if:\n   - Patient is not visible after checking 4 hospital tabs.\n   - 4 consecutive navigation attempts fail.\n   - UI shows \"No patients found\".\n</navigation_rules>\n\n<tools_logic>\n- 'double_click': DEFAULT for opening folders and documents in the tree.\n- 'click': For \"Notes\" menu, \"Full Screen\" button, and hospital tabs.\n- 'key_press': Use \"down\" or \"right\" only if a folder is selected but won't expand.\n- 'wait': Mandatory action after any click/expansion.\n</tools_logic>\n\n<examples>\nInput: Patient Summary opened. \"Notes\" (ID 10) visible.\nOutput: {\"thought\": \"I need to access notes. Clicking 'Notes' and avoiding 'Documentation'.\", \"batch\": [{\"action\": \"click\", \"target_id\": 10}, {\"action\": \"wait\"}], \"status\": \"running\"}\n\nInput: Inside \"Notes\". \"Full Screen\" (ID 15) visible.\nOutput: {\"thought\": \"Enabling Full Screen to reveal the document tree.\", \"batch\": [{\"action\": \"click\", \"target_id\": 15}, {\"action\": \"wait\"}], \"status\": \"running\"}\n\nInput: Tab 4 active. Patient not in list.\nOutput: {\"thought\": \"Patient not found in any authorized hospital tab.\", \"batch\": [], \"status\": \"patient_not_found\"}\n</examples>\n\n<constraints>\n1. OUTPUT FORMAT: Return ONLY a raw JSON object. NO markdown, NO backticks (```), NO introductory text.\n2. NO HALLUCINATIONS: Do not invent target_id values; use only what is provided in UI ELEMENTS.\n3. CONSISTENCY: Dates must follow MM/DD/YYYY.\n4. EXIT STATE: If status is 'patient_not_found' or 'finished', the 'batch' array MUST be empty [].\n</constraints>\n\n<output_schema>\n{\n  \"thought\": \"Reasoning based on elements and history\",\n  \"batch\": [\n    { \"action\": \"click|double_click|key_press|wait\", \"target_id\": number, \"key\": \"string\" }\n  ],\n  \"status\": \"running|finished|failed|patient_not_found\"\n}\n</output_schema>","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,48],"id":"c41af999-2f3b-4959-a68a-773018012759","name":"Gemini Decision","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,272],"id":"63a49023-6066-47ee-ba13-22cfe9f79587","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:50:25.929Z","createdAt":"2025-12-22T23:50:25.929Z","id":"p1hVh5YG9kq0zwyJ","name":"hanna-med-ma-n8n/brain"}]}