ai-agent-344cm6tBR4Ar5ZaM.json
{"updatedAt":"2025-12-19T18:36:19.540Z","createdAt":"2025-11-14T21:07:31.407Z","id":"344cm6tBR4Ar5ZaM","name":"Ai Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evolutionapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2352,480],"id":"585bb08e-38d6-41ee-9652-aef5f14d1527","name":"On WhatsApp Message","webhookId":"bd9e27ef-a33b-4854-b2da-0325d80038c0"},{"parameters":{"assignments":{"assignments":[{"id":"b6af3ab5-4109-4eaf-9699-c3352bee4b32","name":"sessionId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"88605ff9-6e3e-46c1-9f22-d7390952f686","name":"sender","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"8db02ab1-d87f-40c5-bbca-413876cb7e7e","name":"senderAlt","value":"={{ $json.body.data.key.remoteJidAlt }}","type":"string"},{"id":"9823bdb6-a1c1-4176-a7f5-ca5262cd7d02","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"621e68ea-9ac1-4925-ae69-1b5c1ad0eff0","name":"textMessage","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"3f5e30ae-87f3-4a41-bdad-aebb0e6b2fd4","name":"voiceMessage","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"1e2cd2a0-837c-40be-abd4-9d9c6cc218ac","name":"datetime","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"},{"id":"52b798a0-440f-46f5-8c2f-7ee05d033c59","name":"instance","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,480],"id":"46881a6a-f395-46d4-a792-3f002311f6cf","name":"Parse WhatsApp Payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f79e5ad-c4ba-41d5-8300-0374f303f27c","leftValue":"={{ $('Parse WhatsApp Payload').item.json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1008,384],"id":"79fa5be5-8819-4819-b4ad-079e9c88e8bf","name":"IF Text Message"},{"parameters":{"assignments":{"assignments":[{"id":"2ffd007b-d658-4116-807e-2a1fe214b8d2","name":"message","value":"={{ $('Parse WhatsApp Payload').item.json.textMessage }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,240],"id":"b2113a9d-23a7-43e8-aada-70c7d6c0a7ac","name":"Set Message Content"},{"parameters":{"operation":"push","list":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageData":"={{ JSON.stringify(\n{\n  \"message\": $json.message,\n  \"sessionId\": $('Parse WhatsApp Payload').item.json.sessionId,\n  \"datetime\": $('Parse WhatsApp Payload').item.json.datetime\n}\n)}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,240],"id":"b0e6ee57-350d-4c32-ad57-c8f32ed911f7","name":"Push to Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('Parse WhatsApp Payload').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-336,240],"id":"0dd26f87-0ecc-4e5a-a192-a537ca7b4aa7","name":"Get Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc2a1660-396f-462a-8fe7-12137db0e247","leftValue":"={{ JSON.parse($json.message.last()).sessionId}}","rightValue":"={{ $('Parse WhatsApp Payload').item.json.sessionId }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d1d8250-4340-4a76-af05-0c6687a817ba","leftValue":"={{ JSON.parse($json.message.last()).datetime}}","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-112,96],"id":"fa8e2fb0-339d-4502-8ea9-de652f60ebb0","name":"Check Message Timer"},{"parameters":{"operation":"delete","key":"={{ $('Parse WhatsApp Payload').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[112,192],"id":"30c9ce38-6c27-42b3-ae85-db6c168872f6","name":"Clear Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"assignments":{"assignments":[{"id":"a4191096-501c-43ff-bdf8-db46f24ba211","name":"messages","value":"={{ $json.message.map(m=> JSON.parse(m).message).join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,192],"id":"33c4b0ff-8dd6-42da-bc52-bd6e805b5d06","name":"Compile Buffered Messages"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parse WhatsApp Payload').item.json.instance }}","remoteJid":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,192],"id":"1c02a4fe-33db-4039-a7d8-b6899ddbd7f0","name":"Send WhatsApp Reply","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM doctors\nWHERE (sender = '{{ $json.sender }}' OR sender = '{{ $json.senderAlt }}')\n  AND agent = '{{ $json.instance }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1904,480],"id":"bb45a696-de28-4361-921f-7aa67763928c","name":"Get Doctor Config","alwaysOutputData":true,"credentials":{"postgres":{"id":"nim9PQKIxdYoLyri","name":"hannamedma-db-dev"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e5a7124c-ad19-4248-a444-26160df5a154","leftValue":"={{ $json.values().length }}","rightValue":"=0","operator":{"type":"number","operation":"gt"}},{"id":"d1deacc4-3b9f-4612-a7ca-ef7d52d5b2e7","leftValue":"={{ $('Get Doctor Config').item.json.agent }}","rightValue":"={{ $('Parse WhatsApp Payload').item.json.instance }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,480],"id":"4b6e369d-6db7-4395-910c-e4a110c86265","name":"Is Doctor Authorized"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parse WhatsApp Payload').item.json.instance }}","remoteJid":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageText":"You are not authorized to use this service.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1456,576],"id":"3d1e271d-bece-4131-bc1f-179740e18e76","name":"Send Not Authorized","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"errorMessage":"Unauthorized user"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1232,576],"id":"a155119b-7435-49a8-a33b-d55af915aba2","name":"Stop"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Parse WhatsApp Payload').item.json.sender }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[688,416],"id":"6c4b3dcb-8643-42c9-b4a5-f8b6963ef057","name":"Memory (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-784,432],"id":"0b9d53d5-58f1-40c9-866f-a1d64b6d2b40","name":"No Operation 1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,0],"id":"04ccc18c-ab91-4d2d-a6a6-0a16f8d9c285","name":"No Operation 2"},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"=<role>\nYou are \"MedLink,\" a professional AI Medical Assistant for Dr. {{ $('Get Doctor Config').item.json.name }}. Your channel is WhatsApp. Your tone is clinical, urgent, and concise. You act as a high-reliability interface for RPA systems.\n</role>\n\n<task>\nTrigger the correct RPA tool based on the Doctor's request. \n1. IDENTIFY if the request is for a \"Patient List\" (Census) or a \"Patient Summary\".\n2. DETERMINE the hospital system: JACKSON, STEWARD, or BAPTIST.\n3. EXTRACT the Patient Name if a summary is requested.\n4. EXECUTE the tool immediately with the correct hospital_type parameter.\n5. RESPOND based ONLY on the JSON output of the tool.\n</task>\n\n<context>\n- Doctor Name: {{ $('Get Doctor Config').item.json.name }}\n- RPA Server: {{ $('Get Doctor Config').item.json.rpaUrl }}\n- Current Time: {{ $now.setZone('America/New_York').toFormat('HH:mm') }}\n- History: You have a short memory window (2 messages). Always prioritize the current request.\n</context>\n\n<tools_available>\n1. **'Call TOOL: RPA PatientList'**: Retrieves patient census/list from any hospital.\n   - Required: hospital_type (JACKSON, STEWARD, or BAPTIST)\n   - Use for: \"list\", \"census\", \"patients\", \"who do I have\"\n\n2. **'Call TOOL: RPA PatientSummary'**: Retrieves a patient's clinical summary/Final Report.\n   - Required: hospital_type (JACKSON, STEWARD, or BAPTIST) AND patient_name\n   - Use for: \"summary\", \"report\", \"details on [patient]\", \"Final Report\"\n</tools_available>\n\n<hospital_mapping>\nMap these keywords to hospital_type:\n- \"Jackson\", \"JHS\", \"JMH\", \"University\" → JACKSON\n- \"Steward\", \"Florida\", \"FMC\" → STEWARD  \n- \"Baptist\", \"South\", \"Main\", \"BHSF\" → BAPTIST\n</hospital_mapping>\n\n<examples>\nUser: \"Jackson list please\"\nAction: Call 'TOOL: RPA PatientList' with hospital_type=\"JACKSON\"\nResponse: \"Retrieving your Jackson census now. One moment, Doctor.\"\n\nUser: \"I need the Steward census\"\nAction: Call 'TOOL: RPA PatientList' with hospital_type=\"STEWARD\"\nResponse: \"Getting your Steward patient list. Please wait.\"\n\nUser: \"Summary for Robert Smith at Jackson\"\nAction: Call 'TOOL: RPA PatientSummary' with hospital_type=\"JACKSON\", patient_name=\"Robert Smith\"\nResponse: \"Retrieving Robert Smith's summary from Jackson Health...\"\n\nUser: \"Get me the Final Report for Garcia\"\n→ ASK: \"Which hospital system is the patient in - Jackson, Steward, or Baptist?\"\n\nUser: \"I need a summary from Baptist\"\n→ ASK: \"Which patient's summary do you need?\"\n</examples>\n\n<constraints>\n- ZERO HALLUCINATION: Do not confirm a process is \"running\" unless you have successfully called the tool.\n- MANDATORY PARAMETERS: \n  * For summaries: You MUST have both patient_name AND hospital_type. Ask if missing.\n  * For lists: You MUST have hospital_type. Ask if unclear.\n- ERROR HANDLING: If the tool fails or returns a connection error, say: \"I'm sorry, Doctor. I cannot connect to your office assistant. Please ensure your PC is turned on and the Assistant is running.\"\n- PRIVACY: Do not share or invent data not provided by the tool JSON.\n</constraints>\n\n<output_format>\n- WhatsApp style: No bold headers, max 2-3 short sentences.\n- If tool returns {\"status\": \"running\"}: Confirm execution and ask for a moment.\n- If tool returns {\"status\": \"busy\"}: \"I'm currently handling another request. Please hold on just a moment.\"\n- If tool returns {\"status\": \"error\"}: Report the error message clearly.\n</output_format>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,192],"id":"5d8f2484-155c-45a1-b9b0-91136f6ca015","name":"Doctor Assistant Agent","retryOnFail":true},{"parameters":{"url":"=https://server-dev.hannamedma.com/credentials/doctor/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"19dbf70b154cc51b34a7d4a14e008a70"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1456,384],"id":"a8809df7-f3b8-46d0-bdb3-108348dc7c2b","name":"Get Credentials","alwaysOutputData":true,"executeOnce":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"credentials","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1232,384],"id":"56c7306f-1d97-4641-8f97-1a5f0d859c42","name":"Aggregate: Credentials"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,384],"id":"849c7699-9f3b-4d30-957c-e8e9a7c70077","name":"Wait 7s (Polling)","webhookId":"39aa74ce-eb64-4f3d-9feb-da24d966e732"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,416],"id":"56a98b39-0733-4489-9513-fc45b1854829","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"description":"Retrieves the patient census list from a hospital EMR system. Triggers an RPA process that captures the current patient list and returns it formatted. Use this when the doctor requests their \"list\", \"census\", or \"patients\" for a specific hospital.","workflowId":{"__rl":true,"value":"oVFxVptkm8K19sfo","mode":"list","cachedResultUrl":"/workflow/oVFxVptkm8K19sfo","cachedResultName":"TOOL: RPA PatientList"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Parse WhatsApp Payload').item.json.sender }}","rpa_server_url":"={{ $('Get Doctor Config').item.json.rpaUrl }}","trigger_type":"on_demand","instance":"={{ $('Parse WhatsApp Payload').item.json.instance }}","doctor_name":"={{ $('Get Doctor Config').item.json.name }}","credentials":"={{ $('Aggregate: Credentials').item.json.credentials }}","hospital_type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hospital_type', `The hospital system to retrieve the patient list from. Must be exactly one of: JACKSON (for Jackson Health System), STEWARD (for Steward/Florida Medical Center), or BAPTIST (for Baptist Health South Florida).`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[816,416],"id":"bb6baef3-f131-46a6-988d-84ce4109a7b0","name":"Call 'TOOL: RPA PatientList'"},{"parameters":{"description":"Retrieves a specific patient's clinical summary (Final Report) from a hospital EMR. Requires both the patient's name and the hospital system. Use when the doctor asks for a \"summary\", \"report\", or clinical details about a specific patient.","workflowId":{"__rl":true,"value":"0qWMY0WFezbjzNne","mode":"list","cachedResultUrl":"/workflow/0qWMY0WFezbjzNne","cachedResultName":"TOOL: RPA PatientSummary"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Parse WhatsApp Payload').item.json.sender }}","rpa_server_url":"={{ $('Get Doctor Config').item.json.rpaUrl }}","trigger_type":"on_demand","instance":"={{ $('Parse WhatsApp Payload').item.json.instance }}","doctor_name":"={{ $('Get Doctor Config').item.json.name }}","credentials":"={{ $('Aggregate: Credentials').item.json.credentials }}","patient_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_name', `The patient's name to search for in the EMR. Extract ONLY the name (e.g., 'Garcia', 'Maria Perez', 'John Smith'). Remove any titles like 'Mr.', 'Mrs.', 'Patient', or room numbers`, 'string') }}","hospital_type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hospital_type', `The hospital system where the patient is located. Must be exactly one of: JACKSON, STEWARD, or BAPTIST.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"patient_name","displayName":"patient_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[944,416],"id":"c23e1f47-374d-4d74-b965-ea5fbbf54057","name":"Call 'TOOL: RPA PatientSummary'"}],"connections":{"On WhatsApp Message":{"main":[[{"node":"Parse WhatsApp Payload","type":"main","index":0}]]},"Parse WhatsApp Payload":{"main":[[{"node":"Get Doctor Config","type":"main","index":0}]]},"IF Text Message":{"main":[[{"node":"Set Message Content","type":"main","index":0}],[{"node":"No Operation 1","type":"main","index":0}]]},"Set Message Content":{"main":[[{"node":"Push to Message Buffer","type":"main","index":0}]]},"Push to Message Buffer":{"main":[[{"node":"Get Message Buffer","type":"main","index":0}]]},"Get Message Buffer":{"main":[[{"node":"Check Message Timer","type":"main","index":0}]]},"Check Message Timer":{"main":[[{"node":"No Operation 2","type":"main","index":0}],[{"node":"Clear Message Buffer","type":"main","index":0}],[{"node":"Wait 7s (Polling)","type":"main","index":0}]]},"Clear Message Buffer":{"main":[[{"node":"Compile Buffered Messages","type":"main","index":0}]]},"Compile Buffered Messages":{"main":[[{"node":"Doctor Assistant Agent","type":"main","index":0}]]},"Get Doctor Config":{"main":[[{"node":"Is Doctor Authorized","type":"main","index":0}]]},"Is Doctor Authorized":{"main":[[{"node":"Get Credentials","type":"main","index":0}],[{"node":"Send Not Authorized","type":"main","index":0}]]},"Send Not Authorized":{"main":[[{"node":"Stop","type":"main","index":0}]]},"Memory (DB)":{"ai_memory":[[{"node":"Doctor Assistant Agent","type":"ai_memory","index":0}]]},"Doctor Assistant Agent":{"main":[[{"node":"Send WhatsApp Reply","type":"main","index":0}]]},"Get Credentials":{"main":[[{"node":"Aggregate: Credentials","type":"main","index":0}]]},"Aggregate: Credentials":{"main":[[{"node":"IF Text Message","type":"main","index":0}]]},"Wait 7s (Polling)":{"main":[[{"node":"Get Message Buffer","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"Doctor Assistant Agent","type":"ai_languageModel","index":0}]]},"Call 'TOOL: RPA PatientList'":{"ai_tool":[[{"node":"Doctor Assistant Agent","type":"ai_tool","index":0}]]},"Call 'TOOL: RPA PatientSummary'":{"ai_tool":[[{"node":"Doctor Assistant Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On WhatsApp Message":[{"json":{"headers":{"host":"n8n-dev.hannamedma.com","user-agent":"axios/1.12.2","content-length":"1743","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"72.61.9.31","cf-ipcountry":"US","cf-ray":"9ae9f40a6e5d4257-EWR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"162.158.159.35","x-forwarded-host":"n8n-dev.hannamedma.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"06e78cb5c95f","x-real-ip":"162.158.159.35"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"medical-assistant-dev","data":{"key":{"remoteJid":"573116347712@s.whatsapp.net","remoteJidAlt":"96675553087666@lid","fromMe":false,"id":"3EB0AD396A30C3C3E766D8","participant":"","addressingMode":"pn"},"pushName":"Jose Gaspar","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":251,"1":95,"2":233,"3":245,"4":97,"5":43,"6":214,"7":210,"8":194,"9":64},"senderTimestamp":{"low":1764855764,"high":0,"unsigned":true},"senderAccountType":0,"receiverAccountType":0,"recipientKeyHash":{"0":174,"1":185,"2":202,"3":120,"4":223,"5":187,"6":144,"7":250,"8":171,"9":111},"recipientTimestamp":{"low":1764795520,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":177,"1":116,"2":231,"3":107,"4":68,"5":54,"6":250,"7":145,"8":111,"9":220,"10":41,"11":76,"12":100,"13":207,"14":160,"15":247,"16":77,"17":150,"18":42,"19":100,"20":162,"21":173,"22":65,"23":46,"24":170,"25":185,"26":50,"27":225,"28":136,"29":245,"30":111,"31":89},"limitSharingV2":{"trigger":0,"initiatedByMe":false}},"conversation":"dame la lista de baptist"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"ephemeralSettingTimestamp":{"low":1765668220,"high":0,"unsigned":false},"disappearingMode":{"initiator":0,"trigger":1,"initiatedByMe":false}},"messageType":"conversation","messageTimestamp":1765843780,"instanceId":"3210c57b-5cdd-4ab4-8ee5-5ff0cdf6b1ed","source":"web"},"destination":"https://n8n-dev.hannamedma.com/webhook/evolutionapi","date_time":"2025-12-16T00:09:40.193Z","sender":"573137304979@s.whatsapp.net","server_url":"https://evolutionapi-dev.hannamedma.com","apikey":"08C0D1426918-44FB-B2D0-F4058C605717"},"webhookUrl":"https://n8n-dev.hannamedma.com/webhook/evolutionapi","executionMode":"production"}}]},"versionId":"ecd42f29-0d46-4a04-8846-92a538ab9356","activeVersionId":"ecd42f29-0d46-4a04-8846-92a538ab9356","triggerCount":1,"shared":[{"updatedAt":"2025-11-14T21:07:31.418Z","createdAt":"2025-11-14T21:07:31.418Z","role":"workflow:owner","workflowId":"344cm6tBR4Ar5ZaM","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-19T18:36:19.541Z","createdAt":"2025-12-19T18:36:19.541Z","versionId":"ecd42f29-0d46-4a04-8846-92a538ab9356","workflowId":"344cm6tBR4Ar5ZaM","nodes":[{"parameters":{"httpMethod":"POST","path":"evolutionapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2352,480],"id":"585bb08e-38d6-41ee-9652-aef5f14d1527","name":"On WhatsApp Message","webhookId":"bd9e27ef-a33b-4854-b2da-0325d80038c0"},{"parameters":{"assignments":{"assignments":[{"id":"b6af3ab5-4109-4eaf-9699-c3352bee4b32","name":"sessionId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"88605ff9-6e3e-46c1-9f22-d7390952f686","name":"sender","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"8db02ab1-d87f-40c5-bbca-413876cb7e7e","name":"senderAlt","value":"={{ $json.body.data.key.remoteJidAlt }}","type":"string"},{"id":"9823bdb6-a1c1-4176-a7f5-ca5262cd7d02","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"621e68ea-9ac1-4925-ae69-1b5c1ad0eff0","name":"textMessage","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"3f5e30ae-87f3-4a41-bdad-aebb0e6b2fd4","name":"voiceMessage","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"1e2cd2a0-837c-40be-abd4-9d9c6cc218ac","name":"datetime","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"},{"id":"52b798a0-440f-46f5-8c2f-7ee05d033c59","name":"instance","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,480],"id":"46881a6a-f395-46d4-a792-3f002311f6cf","name":"Parse WhatsApp Payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f79e5ad-c4ba-41d5-8300-0374f303f27c","leftValue":"={{ $('Parse WhatsApp Payload').item.json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1008,384],"id":"79fa5be5-8819-4819-b4ad-079e9c88e8bf","name":"IF Text Message"},{"parameters":{"assignments":{"assignments":[{"id":"2ffd007b-d658-4116-807e-2a1fe214b8d2","name":"message","value":"={{ $('Parse WhatsApp Payload').item.json.textMessage }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,240],"id":"b2113a9d-23a7-43e8-aada-70c7d6c0a7ac","name":"Set Message Content"},{"parameters":{"operation":"push","list":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageData":"={{ JSON.stringify(\n{\n  \"message\": $json.message,\n  \"sessionId\": $('Parse WhatsApp Payload').item.json.sessionId,\n  \"datetime\": $('Parse WhatsApp Payload').item.json.datetime\n}\n)}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,240],"id":"b0e6ee57-350d-4c32-ad57-c8f32ed911f7","name":"Push to Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('Parse WhatsApp Payload').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-336,240],"id":"0dd26f87-0ecc-4e5a-a192-a537ca7b4aa7","name":"Get Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc2a1660-396f-462a-8fe7-12137db0e247","leftValue":"={{ JSON.parse($json.message.last()).sessionId}}","rightValue":"={{ $('Parse WhatsApp Payload').item.json.sessionId }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d1d8250-4340-4a76-af05-0c6687a817ba","leftValue":"={{ JSON.parse($json.message.last()).datetime}}","rightValue":"={{ $now.minus(7, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-112,96],"id":"fa8e2fb0-339d-4502-8ea9-de652f60ebb0","name":"Check Message Timer"},{"parameters":{"operation":"delete","key":"={{ $('Parse WhatsApp Payload').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[112,192],"id":"30c9ce38-6c27-42b3-ae85-db6c168872f6","name":"Clear Message Buffer","credentials":{"redis":{"id":"L9hw1ZHMi0TxkSmY","name":"hannamedma-redis-dev"}}},{"parameters":{"assignments":{"assignments":[{"id":"a4191096-501c-43ff-bdf8-db46f24ba211","name":"messages","value":"={{ $json.message.map(m=> JSON.parse(m).message).join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,192],"id":"33c4b0ff-8dd6-42da-bc52-bd6e805b5d06","name":"Compile Buffered Messages"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parse WhatsApp Payload').item.json.instance }}","remoteJid":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,192],"id":"1c02a4fe-33db-4039-a7d8-b6899ddbd7f0","name":"Send WhatsApp Reply","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM doctors\nWHERE (sender = '{{ $json.sender }}' OR sender = '{{ $json.senderAlt }}')\n  AND agent = '{{ $json.instance }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1904,480],"id":"bb45a696-de28-4361-921f-7aa67763928c","name":"Get Doctor Config","alwaysOutputData":true,"credentials":{"postgres":{"id":"nim9PQKIxdYoLyri","name":"hannamedma-db-dev"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e5a7124c-ad19-4248-a444-26160df5a154","leftValue":"={{ $json.values().length }}","rightValue":"=0","operator":{"type":"number","operation":"gt"}},{"id":"d1deacc4-3b9f-4612-a7ca-ef7d52d5b2e7","leftValue":"={{ $('Get Doctor Config').item.json.agent }}","rightValue":"={{ $('Parse WhatsApp Payload').item.json.instance }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,480],"id":"4b6e369d-6db7-4395-910c-e4a110c86265","name":"Is Doctor Authorized"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parse WhatsApp Payload').item.json.instance }}","remoteJid":"={{ $('Parse WhatsApp Payload').item.json.sender }}","messageText":"You are not authorized to use this service.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1456,576],"id":"3d1e271d-bece-4131-bc1f-179740e18e76","name":"Send Not Authorized","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"errorMessage":"Unauthorized user"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1232,576],"id":"a155119b-7435-49a8-a33b-d55af915aba2","name":"Stop"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Parse WhatsApp Payload').item.json.sender }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[688,416],"id":"6c4b3dcb-8643-42c9-b4a5-f8b6963ef057","name":"Memory (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-784,432],"id":"0b9d53d5-58f1-40c9-866f-a1d64b6d2b40","name":"No Operation 1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,0],"id":"04ccc18c-ab91-4d2d-a6a6-0a16f8d9c285","name":"No Operation 2"},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"=<role>\nYou are \"MedLink,\" a professional AI Medical Assistant for Dr. {{ $('Get Doctor Config').item.json.name }}. Your channel is WhatsApp. Your tone is clinical, urgent, and concise. You act as a high-reliability interface for RPA systems.\n</role>\n\n<task>\nTrigger the correct RPA tool based on the Doctor's request. \n1. IDENTIFY if the request is for a \"Patient List\" (Census) or a \"Patient Summary\".\n2. DETERMINE the hospital system: JACKSON, STEWARD, or BAPTIST.\n3. EXTRACT the Patient Name if a summary is requested.\n4. EXECUTE the tool immediately with the correct hospital_type parameter.\n5. RESPOND based ONLY on the JSON output of the tool.\n</task>\n\n<context>\n- Doctor Name: {{ $('Get Doctor Config').item.json.name }}\n- RPA Server: {{ $('Get Doctor Config').item.json.rpaUrl }}\n- Current Time: {{ $now.setZone('America/New_York').toFormat('HH:mm') }}\n- History: You have a short memory window (2 messages). Always prioritize the current request.\n</context>\n\n<tools_available>\n1. **'Call TOOL: RPA PatientList'**: Retrieves patient census/list from any hospital.\n   - Required: hospital_type (JACKSON, STEWARD, or BAPTIST)\n   - Use for: \"list\", \"census\", \"patients\", \"who do I have\"\n\n2. **'Call TOOL: RPA PatientSummary'**: Retrieves a patient's clinical summary/Final Report.\n   - Required: hospital_type (JACKSON, STEWARD, or BAPTIST) AND patient_name\n   - Use for: \"summary\", \"report\", \"details on [patient]\", \"Final Report\"\n</tools_available>\n\n<hospital_mapping>\nMap these keywords to hospital_type:\n- \"Jackson\", \"JHS\", \"JMH\", \"University\" → JACKSON\n- \"Steward\", \"Florida\", \"FMC\" → STEWARD  \n- \"Baptist\", \"South\", \"Main\", \"BHSF\" → BAPTIST\n</hospital_mapping>\n\n<examples>\nUser: \"Jackson list please\"\nAction: Call 'TOOL: RPA PatientList' with hospital_type=\"JACKSON\"\nResponse: \"Retrieving your Jackson census now. One moment, Doctor.\"\n\nUser: \"I need the Steward census\"\nAction: Call 'TOOL: RPA PatientList' with hospital_type=\"STEWARD\"\nResponse: \"Getting your Steward patient list. Please wait.\"\n\nUser: \"Summary for Robert Smith at Jackson\"\nAction: Call 'TOOL: RPA PatientSummary' with hospital_type=\"JACKSON\", patient_name=\"Robert Smith\"\nResponse: \"Retrieving Robert Smith's summary from Jackson Health...\"\n\nUser: \"Get me the Final Report for Garcia\"\n→ ASK: \"Which hospital system is the patient in - Jackson, Steward, or Baptist?\"\n\nUser: \"I need a summary from Baptist\"\n→ ASK: \"Which patient's summary do you need?\"\n</examples>\n\n<constraints>\n- ZERO HALLUCINATION: Do not confirm a process is \"running\" unless you have successfully called the tool.\n- MANDATORY PARAMETERS: \n  * For summaries: You MUST have both patient_name AND hospital_type. Ask if missing.\n  * For lists: You MUST have hospital_type. Ask if unclear.\n- ERROR HANDLING: If the tool fails or returns a connection error, say: \"I'm sorry, Doctor. I cannot connect to your office assistant. Please ensure your PC is turned on and the Assistant is running.\"\n- PRIVACY: Do not share or invent data not provided by the tool JSON.\n</constraints>\n\n<output_format>\n- WhatsApp style: No bold headers, max 2-3 short sentences.\n- If tool returns {\"status\": \"running\"}: Confirm execution and ask for a moment.\n- If tool returns {\"status\": \"busy\"}: \"I'm currently handling another request. Please hold on just a moment.\"\n- If tool returns {\"status\": \"error\"}: Report the error message clearly.\n</output_format>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,192],"id":"5d8f2484-155c-45a1-b9b0-91136f6ca015","name":"Doctor Assistant Agent","retryOnFail":true},{"parameters":{"url":"=https://server-dev.hannamedma.com/credentials/doctor/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"19dbf70b154cc51b34a7d4a14e008a70"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1456,384],"id":"a8809df7-f3b8-46d0-bdb3-108348dc7c2b","name":"Get Credentials","alwaysOutputData":true,"executeOnce":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"credentials","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1232,384],"id":"56c7306f-1d97-4641-8f97-1a5f0d859c42","name":"Aggregate: Credentials"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,384],"id":"849c7699-9f3b-4d30-957c-e8e9a7c70077","name":"Wait 7s (Polling)","webhookId":"39aa74ce-eb64-4f3d-9feb-da24d966e732"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,416],"id":"56a98b39-0733-4489-9513-fc45b1854829","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"description":"Retrieves the patient census list from a hospital EMR system. Triggers an RPA process that captures the current patient list and returns it formatted. Use this when the doctor requests their \"list\", \"census\", or \"patients\" for a specific hospital.","workflowId":{"__rl":true,"value":"oVFxVptkm8K19sfo","mode":"list","cachedResultUrl":"/workflow/oVFxVptkm8K19sfo","cachedResultName":"TOOL: RPA PatientList"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Parse WhatsApp Payload').item.json.sender }}","rpa_server_url":"={{ $('Get Doctor Config').item.json.rpaUrl }}","trigger_type":"on_demand","instance":"={{ $('Parse WhatsApp Payload').item.json.instance }}","doctor_name":"={{ $('Get Doctor Config').item.json.name }}","credentials":"={{ $('Aggregate: Credentials').item.json.credentials }}","hospital_type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hospital_type', `The hospital system to retrieve the patient list from. Must be exactly one of: JACKSON (for Jackson Health System), STEWARD (for Steward/Florida Medical Center), or BAPTIST (for Baptist Health South Florida).`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[816,416],"id":"bb6baef3-f131-46a6-988d-84ce4109a7b0","name":"Call 'TOOL: RPA PatientList'"},{"parameters":{"description":"Retrieves a specific patient's clinical summary (Final Report) from a hospital EMR. Requires both the patient's name and the hospital system. Use when the doctor asks for a \"summary\", \"report\", or clinical details about a specific patient.","workflowId":{"__rl":true,"value":"0qWMY0WFezbjzNne","mode":"list","cachedResultUrl":"/workflow/0qWMY0WFezbjzNne","cachedResultName":"TOOL: RPA PatientSummary"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Parse WhatsApp Payload').item.json.sender }}","rpa_server_url":"={{ $('Get Doctor Config').item.json.rpaUrl }}","trigger_type":"on_demand","instance":"={{ $('Parse WhatsApp Payload').item.json.instance }}","doctor_name":"={{ $('Get Doctor Config').item.json.name }}","credentials":"={{ $('Aggregate: Credentials').item.json.credentials }}","patient_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_name', `The patient's name to search for in the EMR. Extract ONLY the name (e.g., 'Garcia', 'Maria Perez', 'John Smith'). Remove any titles like 'Mr.', 'Mrs.', 'Patient', or room numbers`, 'string') }}","hospital_type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hospital_type', `The hospital system where the patient is located. Must be exactly one of: JACKSON, STEWARD, or BAPTIST.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"patient_name","displayName":"patient_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[944,416],"id":"c23e1f47-374d-4d74-b965-ea5fbbf54057","name":"Call 'TOOL: RPA PatientSummary'"}],"connections":{"On WhatsApp Message":{"main":[[{"node":"Parse WhatsApp Payload","type":"main","index":0}]]},"Parse WhatsApp Payload":{"main":[[{"node":"Get Doctor Config","type":"main","index":0}]]},"IF Text Message":{"main":[[{"node":"Set Message Content","type":"main","index":0}],[{"node":"No Operation 1","type":"main","index":0}]]},"Set Message Content":{"main":[[{"node":"Push to Message Buffer","type":"main","index":0}]]},"Push to Message Buffer":{"main":[[{"node":"Get Message Buffer","type":"main","index":0}]]},"Get Message Buffer":{"main":[[{"node":"Check Message Timer","type":"main","index":0}]]},"Check Message Timer":{"main":[[{"node":"No Operation 2","type":"main","index":0}],[{"node":"Clear Message Buffer","type":"main","index":0}],[{"node":"Wait 7s (Polling)","type":"main","index":0}]]},"Clear Message Buffer":{"main":[[{"node":"Compile Buffered Messages","type":"main","index":0}]]},"Compile Buffered Messages":{"main":[[{"node":"Doctor Assistant Agent","type":"main","index":0}]]},"Get Doctor Config":{"main":[[{"node":"Is Doctor Authorized","type":"main","index":0}]]},"Is Doctor Authorized":{"main":[[{"node":"Get Credentials","type":"main","index":0}],[{"node":"Send Not Authorized","type":"main","index":0}]]},"Send Not Authorized":{"main":[[{"node":"Stop","type":"main","index":0}]]},"Memory (DB)":{"ai_memory":[[{"node":"Doctor Assistant Agent","type":"ai_memory","index":0}]]},"Doctor Assistant Agent":{"main":[[{"node":"Send WhatsApp Reply","type":"main","index":0}]]},"Get Credentials":{"main":[[{"node":"Aggregate: Credentials","type":"main","index":0}]]},"Aggregate: Credentials":{"main":[[{"node":"IF Text Message","type":"main","index":0}]]},"Wait 7s (Polling)":{"main":[[{"node":"Get Message Buffer","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"Doctor Assistant Agent","type":"ai_languageModel","index":0}]]},"Call 'TOOL: RPA PatientList'":{"ai_tool":[[{"node":"Doctor Assistant Agent","type":"ai_tool","index":0}]]},"Call 'TOOL: RPA PatientSummary'":{"ai_tool":[[{"node":"Doctor Assistant Agent","type":"ai_tool","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[]}