backup-igPqSPLPjwaifAhF.json
{"updatedAt":"2025-12-23T00:04:00.687Z","createdAt":"2025-12-22T23:01:47.945Z","id":"igPqSPLPjwaifAhF","name":"backup","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"fc190fcb-32f3-48c9-83f7-7ff81ec9ce48","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[3840,1608],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"awsuFH9vQWGpjS4i","name":"n8n-dev-hannamedma"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4288,1608],"id":"ad204c86-c290-4afb-85d8-e34206e9242c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4512,1344],"id":"e2065e2d-7d28-4bef-9a1a-9b8d98629a37","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2944,1608],"id":"de756964-74bf-41b9-bb6c-0ff1903f040f","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"5318d67e-b705-4853-b1f5-5bcdff80d01e","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[4736,1608],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"4f79645d-78f1-47fe-9a8d-dc8ed850a4fb","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[4736,1800],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"dev-gaspar","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"7044747b-d54e-4ed1-a002-1473c0f0a220","name":"Folder Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3168,1608],"id":"cdb09a0a-9fcc-479c-9ffb-caf0f5d515bf","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[3392,1608],"id":"0901371c-9d62-409c-8164-f27962b29ab6","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e8ed136e-814b-4b4b-8136-d7695b472735","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[4064,1608]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"2f154899-4b08-4ae7-9f21-d6dff8808b36","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[4512,1536]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3616,1608],"id":"be749b82-f637-413c-a182-18448b83776b","name":"Combinar archivos"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29cbe572-3d15-4a39-8146-295efb77c216","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-22T23:01:47.948Z","createdAt":"2025-12-22T23:01:47.948Z","role":"workflow:owner","workflowId":"igPqSPLPjwaifAhF","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}