backup-igPqSPLPjwaifAhF.json
{"updatedAt":"2025-12-30T17:07:10.265Z","createdAt":"2025-12-22T23:01:47.945Z","id":"igPqSPLPjwaifAhF","name":"backup","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"8b1c0336-0faf-474d-8493-3a2c50609446","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2768,1792],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"awsuFH9vQWGpjS4i","name":"n8n-dev-hannamedma"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3440,1792],"id":"824b7e04-4c2e-44a0-9ae7-0c02e560262f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3664,1520],"id":"d5282521-9812-48a8-814d-abd39677ddbb","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1872,1792],"id":"a7c0d2c1-37e2-4885-8cfb-b372236ca579","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"72f02eea-6cbe-40e6-bc63-97d3b14f9874","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3888,1792],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"55741f33-39da-4e0f-955a-020ac637ad76","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3888,1984],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"dev-gaspar","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"7044747b-d54e-4ed1-a002-1473c0f0a220","name":"Folder Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,1792],"id":"07e7a2ba-d461-4809-a748-3c67911ca650","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2320,1792],"id":"2405e689-cccc-47c4-953d-be545ee00a42","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/[^a-zA-Z0-9]+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"1aca4aa9-4442-492f-97f3-e434a06d1289","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3216,1792]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"205c4833-7312-49d8-aafa-a025288f8b54","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[3664,1712]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2544,1792],"id":"71997861-f50d-46bf-ac08-7ff9d5e53a4e","name":"Combinar archivos"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isArchived }}"}]}},"id":"eba2f995-e433-4ab7-8a83-403a29afa015","name":"Filtrar Archivados","type":"n8n-nodes-base.filter","typeVersion":1,"position":[2992,1792]}],"connections":{"Captura de Workflows":{"main":[[{"node":"Filtrar Archivados","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Filtrar Archivados":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Nodo Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"374ab6a0-9b9a-4919-9edd-c611a1582973","activeVersionId":"374ab6a0-9b9a-4919-9edd-c611a1582973","triggerCount":1,"shared":[{"updatedAt":"2025-12-22T23:01:47.948Z","createdAt":"2025-12-22T23:01:47.948Z","role":"workflow:owner","workflowId":"igPqSPLPjwaifAhF","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-30T17:07:10.266Z","createdAt":"2025-12-30T17:07:10.266Z","versionId":"374ab6a0-9b9a-4919-9edd-c611a1582973","workflowId":"igPqSPLPjwaifAhF","nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"8b1c0336-0faf-474d-8493-3a2c50609446","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2768,1792],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"awsuFH9vQWGpjS4i","name":"n8n-dev-hannamedma"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3440,1792],"id":"824b7e04-4c2e-44a0-9ae7-0c02e560262f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3664,1520],"id":"d5282521-9812-48a8-814d-abd39677ddbb","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1872,1792],"id":"a7c0d2c1-37e2-4885-8cfb-b372236ca579","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"72f02eea-6cbe-40e6-bc63-97d3b14f9874","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3888,1792],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"55741f33-39da-4e0f-955a-020ac637ad76","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3888,1984],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"dev-gaspar","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"7044747b-d54e-4ed1-a002-1473c0f0a220","name":"Folder Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,1792],"id":"07e7a2ba-d461-4809-a748-3c67911ca650","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2320,1792],"id":"2405e689-cccc-47c4-953d-be545ee00a42","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/[^a-zA-Z0-9]+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"1aca4aa9-4442-492f-97f3-e434a06d1289","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3216,1792]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"205c4833-7312-49d8-aafa-a025288f8b54","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[3664,1712]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2544,1792],"id":"71997861-f50d-46bf-ac08-7ff9d5e53a4e","name":"Combinar archivos"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isArchived }}"}]}},"id":"eba2f995-e433-4ab7-8a83-403a29afa015","name":"Filtrar Archivados","type":"n8n-nodes-base.filter","typeVersion":1,"position":[2992,1792]}],"connections":{"Captura de Workflows":{"main":[[{"node":"Filtrar Archivados","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Filtrar Archivados":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[]}