my-workflow-R02ZozxlehWYBsOF.json
{"updatedAt":"2025-12-04T13:43:07.000Z","createdAt":"2025-12-04T12:29:40.984Z","id":"R02ZozxlehWYBsOF","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"f507dd5b-8d4c-40e1-9043-a81d384f9124","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-32],"id":"d2b96ae8-56c9-47c6-a27d-91cd1061b946","name":"Webhook","webhookId":"f507dd5b-8d4c-40e1-9043-a81d384f9124"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9061a3d-53ea-412f-aed8-3034e5a1e810","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"573128086351@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,-32],"id":"5dd94c46-2854-4f2c-b3e1-b2f7e1e45a50","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.body.instance }}","remoteJid":"={{ $json.body.data.key.remoteJid }}","messageText":"Que te cuesta dar paz y confianza en vez de fastidiar luisa inventándote vainas","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,-128],"id":"74b9aed6-c2bd-407b-9f9b-1bce6d48c2c8","name":"Enviar texto","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-dev.hannamedma.com","user-agent":"axios/1.12.2","content-length":"1733","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"72.61.9.31","cf-ipcountry":"US","cf-ray":"9a8b54a39deaf2f9-EWR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.70.111.185","x-forwarded-host":"n8n-dev.hannamedma.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"06e78cb5c95f","x-real-ip":"172.70.111.185"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"gaspar","data":{"key":{"remoteJid":"573128086351@s.whatsapp.net","remoteJidAlt":"223166567862336@lid","fromMe":false,"id":"ACC36DAE6E188454889948283E274782","participant":"","addressingMode":"pn"},"pushName":"Lu","status":"DELIVERY_ACK","message":{"conversation":"LARRGATE SI SIENTES QUE AQUI NO GANAS NI MIERDA DESPUES DE TODO NOJODA, LARRGATE, PORQUE COMO AQUI NO GANAS PLATA, AQUI NO GANAS UN PUTO CULO, COMO SI TE IMPORTARA UN POQUITO SI TE LARGAS O NO, SOLO TE IMPORTAS TU MISMO Y TU GRAN VIDA VIAJANDO Y TENIENDO LA VIDA DE RICO. SOLO LARGATE JOSE Y YA.","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":96,"1":68,"2":180,"3":93,"4":110,"5":108,"6":181,"7":11,"8":197,"9":166},"senderTimestamp":{"low":1764277119,"high":0,"unsigned":true},"recipientKeyHash":{"0":252,"1":95,"2":97,"3":206,"4":33,"5":122,"6":23,"7":107,"8":129,"9":49},"recipientTimestamp":{"low":1764851329,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":23,"1":223,"2":232,"3":225,"4":14,"5":83,"6":21,"7":106,"8":57,"9":99,"10":245,"11":176,"12":222,"13":147,"14":103,"15":243,"16":42,"17":124,"18":86,"19":152,"20":175,"21":100,"22":71,"23":237,"24":240,"25":28,"26":22,"27":138,"28":177,"29":224,"30":187,"31":86}}},"messageType":"conversation","messageTimestamp":1764851589,"instanceId":"285788a7-d17e-47e9-86a4-c1d92946f7cf","source":"android"},"destination":"https://n8n-dev.hannamedma.com/webhook-test/f507dd5b-8d4c-40e1-9043-a81d384f9124","date_time":"2025-12-04T12:33:09.668Z","sender":"573116347712@s.whatsapp.net","server_url":"https://evolutionapi-dev.hannamedma.com","apikey":"6FE27899CCC8-41B4-B04A-7FD393153F8E"},"webhookUrl":"https://n8n-dev.hannamedma.com/webhook-test/f507dd5b-8d4c-40e1-9043-a81d384f9124","executionMode":"test"}}]},"versionId":"37a150aa-3fd1-4e68-ad16-63c62258ab2d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T12:29:40.992Z","createdAt":"2025-12-04T12:29:40.992Z","role":"workflow:owner","workflowId":"R02ZozxlehWYBsOF","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}