respaldar-workflows-en-github-igPqSPLPjwaifAhF.json
{"updatedAt":"2025-12-22T23:22:12.175Z","createdAt":"2025-12-22T23:01:47.945Z","id":"igPqSPLPjwaifAhF","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"bed95c71-7e3c-47ca-888a-63d9532ccdeb","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[3008,872],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"awsuFH9vQWGpjS4i","name":"n8n-dev-hannamedma"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3456,872],"id":"55ea7bcc-816b-4f69-a537-baf8039137c0","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3680,608],"id":"88075ae2-f216-492f-babb-9270744ba840","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2112,872],"id":"02e0da54-e5c0-4856-a92f-cc94d8599d36","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"3e38fca4-dcc8-4fa7-9012-35ec9b44d13f","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3904,872],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"f581a139-1f73-4dcf-a847-4f9ea4f322bd","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3904,1064],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"dev-gaspar","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"hanna-med-ma-n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,872],"id":"1341fcb9-5e6a-45d6-a0f3-d0100f68392a","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2560,872],"id":"4c672374-0660-43d4-b7c4-e799ab4aa6c6","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"VyPabe1PltNojVTH","name":"devgaspar-github"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"68df9ee2-671e-48a7-b886-6d3469069f63","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3232,872]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"1b3988e1-2cd4-4be9-b0e9-509557b3dfe2","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[3680,800]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2784,872],"id":"7f4f5098-0939-4e5e-bfdb-59a0409bf5bf","name":"Combinar archivos"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86a1726a-e56f-4e3e-a947-d8580073b21f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-22T23:01:47.948Z","createdAt":"2025-12-22T23:01:47.948Z","role":"workflow:owner","workflowId":"igPqSPLPjwaifAhF","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}