schedule-morning-report-VxWjRka4evsKb4c3.json
{"updatedAt":"2025-12-22T23:47:29.088Z","createdAt":"2025-11-14T21:07:43.944Z","id":"VxWjRka4evsKb4c3","name":"SCHEDULE: Morning Report","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"oVFxVptkm8K19sfo","mode":"list","cachedResultUrl":"/workflow/oVFxVptkm8K19sfo","cachedResultName":"TOOL: RPA PatientList"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Loop Doctors').item.json.sender }}","instance":"={{ $('Loop Doctors').item.json.agent }}","trigger_type":"scheduled","credentials":"={{ $json.credentials }}","rpa_server_url":"={{ $('Loop Doctors').item.json.rpaUrl }}","doctor_name":"={{ $('Loop Doctors').item.json.name }}","hospital_type":"STEWARD"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1776,208],"id":"a5614663-bf39-4cf0-b73d-2df9345bcb6b","name":"Trigger RPA for each Doctor","onError":"continueRegularOutput"},{"parameters":{"url":"=https://server-dev.hannamedma.com/credentials/doctor/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"19dbf70b154cc51b34a7d4a14e008a70"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,128],"id":"828b944a-5602-4f04-94f2-6acfac3862dd","name":"Get Credentials","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM doctors","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,128],"id":"c1d4bab0-9e57-4b98-bf48-719a8a85d96e","name":"Get Doctors for Reports","credentials":{"postgres":{"id":"nim9PQKIxdYoLyri","name":"hannamedma-db-dev"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[656,128],"id":"25d1b5fc-8784-4d6d-b774-139b40a3f349","name":"Daily 9 AM Trigger"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"credentials","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1552,128],"id":"bd4e87c4-6dd9-47e6-99cb-4b25182eb73f","name":"Aggregate: Credentials"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1104,128],"id":"23978a74-5c07-41ac-8bf4-70233b79cf08","name":"Loop Doctors"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-64],"id":"b3afb1cd-a51a-424a-a868-8ccd8d198115","name":"Loop End"}],"connections":{"Get Credentials":{"main":[[{"node":"Aggregate: Credentials","type":"main","index":0}]]},"Get Doctors for Reports":{"main":[[{"node":"Loop Doctors","type":"main","index":0}]]},"Daily 9 AM Trigger":{"main":[[{"node":"Get Doctors for Reports","type":"main","index":0}]]},"Trigger RPA for each Doctor":{"main":[[{"node":"Loop Doctors","type":"main","index":0}]]},"Aggregate: Credentials":{"main":[[{"node":"Trigger RPA for each Doctor","type":"main","index":0}]]},"Loop Doctors":{"main":[[{"node":"Loop End","type":"main","index":0}],[{"node":"Get Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily 9 AM Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6cabc067-5b6b-4327-838d-1acb50b55b29","activeVersionId":"6cabc067-5b6b-4327-838d-1acb50b55b29","triggerCount":1,"shared":[{"updatedAt":"2025-11-14T21:07:43.947Z","createdAt":"2025-11-14T21:07:43.947Z","role":"workflow:owner","workflowId":"VxWjRka4evsKb4c3","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T23:47:29.088Z","createdAt":"2025-12-22T23:47:29.088Z","versionId":"6cabc067-5b6b-4327-838d-1acb50b55b29","workflowId":"VxWjRka4evsKb4c3","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"oVFxVptkm8K19sfo","mode":"list","cachedResultUrl":"/workflow/oVFxVptkm8K19sfo","cachedResultName":"TOOL: RPA PatientList"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sender":"={{ $('Loop Doctors').item.json.sender }}","instance":"={{ $('Loop Doctors').item.json.agent }}","trigger_type":"scheduled","credentials":"={{ $json.credentials }}","rpa_server_url":"={{ $('Loop Doctors').item.json.rpaUrl }}","doctor_name":"={{ $('Loop Doctors').item.json.name }}","hospital_type":"STEWARD"},"matchingColumns":[],"schema":[{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rpa_server_url","displayName":"rpa_server_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"trigger_type","displayName":"trigger_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"doctor_name","displayName":"doctor_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hospital_type","displayName":"hospital_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"credentials","displayName":"credentials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1776,208],"id":"a5614663-bf39-4cf0-b73d-2df9345bcb6b","name":"Trigger RPA for each Doctor","onError":"continueRegularOutput"},{"parameters":{"url":"=https://server-dev.hannamedma.com/credentials/doctor/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"19dbf70b154cc51b34a7d4a14e008a70"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,128],"id":"828b944a-5602-4f04-94f2-6acfac3862dd","name":"Get Credentials","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM doctors","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,128],"id":"c1d4bab0-9e57-4b98-bf48-719a8a85d96e","name":"Get Doctors for Reports","credentials":{"postgres":{"id":"nim9PQKIxdYoLyri","name":"hannamedma-db-dev"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[656,128],"id":"25d1b5fc-8784-4d6d-b774-139b40a3f349","name":"Daily 9 AM Trigger"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"credentials","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1552,128],"id":"bd4e87c4-6dd9-47e6-99cb-4b25182eb73f","name":"Aggregate: Credentials"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1104,128],"id":"23978a74-5c07-41ac-8bf4-70233b79cf08","name":"Loop Doctors"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-64],"id":"b3afb1cd-a51a-424a-a868-8ccd8d198115","name":"Loop End"}],"connections":{"Get Credentials":{"main":[[{"node":"Aggregate: Credentials","type":"main","index":0}]]},"Get Doctors for Reports":{"main":[[{"node":"Loop Doctors","type":"main","index":0}]]},"Daily 9 AM Trigger":{"main":[[{"node":"Get Doctors for Reports","type":"main","index":0}]]},"Trigger RPA for each Doctor":{"main":[[{"node":"Loop Doctors","type":"main","index":0}]]},"Aggregate: Credentials":{"main":[[{"node":"Trigger RPA for each Doctor","type":"main","index":0}]]},"Loop Doctors":{"main":[[{"node":"Loop End","type":"main","index":0}],[{"node":"Get Credentials","type":"main","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:47:16.625Z","createdAt":"2025-12-22T23:47:16.625Z","id":"EjKqehAc0sIGzSep","name":"hanna-med-ma-n8n"}]}