tool:-rpa-baptist-patientlist-0mj5kRFnvx0DRUQ1.json
{"updatedAt":"2025-12-19T00:10:05.000Z","createdAt":"2025-11-14T21:08:02.308Z","id":"0mj5kRFnvx0DRUQ1","name":"TOOL: RPA Baptist PatientList","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,96],"id":"c8eb451b-b228-4229-a2bc-05c8b11d45e5","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9c7b9e-f561-4da0-9d0b-c2efbf119f75","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,96],"id":"e989be88-e5ac-4f8a-baba-9df95fc78879","name":"If Status Is Idle"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,0],"id":"ba99380b-0e70-4486-893c-6a2add4ff4c7","name":"Start RPA Process"},{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,96],"id":"f29617a2-8362-4c1b-b6aa-5514486100be","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,192],"id":"4af13842-fa12-4075-91dd-67f07cf99343","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"status\": \"running\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"6f1b5a27-71a5-47b2-8596-adfdaf5795fa","name":"Set Started Output"}],"connections":{"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Start RPA Process","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]},"Start RPA Process":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Sub-Workflow Trigger":[{"json":{"sender":"573116347712@s.whatsapp.net","rpa_server_url":"https://rpa-drfernanda.hannamedma.com","trigger_type":"on_demand","instance":"medical-assistant-dev","doctor_name":"Dra. Fernanda","credentials":[{"id":5,"doctorId":7,"systemKey":"JACKSON","fields":{"username":"peter.hanna","password":"@Miababy75"},"createdAt":"2025-12-16T00:52:07.513Z","updatedAt":"2025-12-16T00:52:34.946Z","systemInfo":{"name":"Jackson Health","logo":"/logos/jackson.png","fields":[{"key":"username","label":"Username","type":"text","required":true},{"key":"password","label":"Password","type":"password","required":true}]}},{"id":6,"doctorId":7,"systemKey":"STEWARD","fields":{"email":"peter.hanna@steward.org","password":"@Miababy77889911"},"createdAt":"2025-12-16T00:52:48.671Z","updatedAt":"2025-12-16T00:52:48.671Z","systemInfo":{"name":"Steward Health","logo":"/logos/steward.png","fields":[{"key":"email","label":"Email","type":"email","required":true},{"key":"password","label":"Password","type":"password","required":true}]}}]}}]},"versionId":"59c3e8d6-1a1d-4c98-b864-2a34e0e6147f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-14T21:08:02.311Z","createdAt":"2025-11-14T21:08:02.311Z","role":"workflow:owner","workflowId":"0mj5kRFnvx0DRUQ1","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}