tool:-rpa-jackson-patientlist-E7Y6CDXQifSoLdDB.json
{"updatedAt":"2025-12-19T00:10:10.000Z","createdAt":"2025-11-24T12:26:28.300Z","id":"E7Y6CDXQifSoLdDB","name":"TOOL: RPA Jackson PatientList","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,32],"id":"b0620e45-c480-444f-94c5-bb696b72524e","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9c7b9e-f561-4da0-9d0b-c2efbf119f75","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,32],"id":"92d026b9-4a39-420a-8075-4953b59c9126","name":"If Status Is Idle"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-jackson-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-64],"id":"89a2bb3c-3722-4b0c-a3e5-81efde053bd7","name":"Start RPA Process"},{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,32],"id":"258ab7d6-9e8c-4372-a4cb-cfa93dbcebd2","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,128],"id":"7863e66e-3d94-49d2-9aa9-8dd863acfc89","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"status\": \"running\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-64],"id":"4bece356-4113-42a5-8300-57acedd9179a","name":"Set Started Output"}],"connections":{"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Start RPA Process","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Start RPA Process":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1a935e17-9861-45e1-b539-d70538b62463","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-24T12:26:28.305Z","createdAt":"2025-11-24T12:26:28.305Z","role":"workflow:owner","workflowId":"E7Y6CDXQifSoLdDB","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}