tool-rpa-patientsummary-0qWMY0WFezbjzNne.json
{"updatedAt":"2025-12-22T23:47:59.519Z","createdAt":"2025-12-18T22:59:52.002Z","id":"0qWMY0WFezbjzNne","name":"TOOL: RPA PatientSummary","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"patient_name"},{"name":"hospital_type"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,304],"id":"5658c66f-fcfb-4958-8b45-d28cf765f84d","name":"Sub-Workflow Trigger"},{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,304],"id":"4ba971ab-102a-4b32-8d2f-2ea4edc506db","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,304],"id":"13db7745-a36e-4f78-8bb8-0fc5f1616f97","name":"If Status Is Idle"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-jackson","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"JACKSON","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Jackson"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-baptist","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"BAPTIST","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Baptist"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-steward","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"STEWARD","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Steward"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-224,160],"id":"7da76c9d-5f31-4393-b8fd-8b5f1a348926","name":"Switch Hospital Type"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-jackson-summary-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"patient_name\": $('Sub-Workflow Trigger').item.json.patient_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"a7d1eeeb-ef9c-4cca-bb51-4e125afee697","name":"Start Jackson Summary"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-steward-summary-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"patient_name\": $('Sub-Workflow Trigger').item.json.patient_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,576],"id":"8d570444-6f5c-4d92-8fea-f78f89f9959e","name":"Start Steward Summary"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-baptist-summary-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"patient_name\": $('Sub-Workflow Trigger').item.json.patient_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,192],"id":"4ae7a943-8f55-4238-91f7-3b35b96d9f2c","name":"Start Baptist Summary"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"running\",\n  \"message\": \"Patient summary flow started for {{ $('Sub-Workflow Trigger').item.json.hospital_type }}. Looking for {{ $('Sub-Workflow Trigger').item.json.patient_name }}'s Final Report.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,176],"id":"2bafe144-f217-4890-a6f3-6b05ab152602","name":"Set Started Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\",\n\"message\": \"RPA is currently busy processing another request\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,416],"id":"1c5b2c0e-483d-4268-947d-29865e1925e8","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"status\": \"error\",\n\"message\": \"Unknown hospital type for summary: {{ $('Sub-Workflow Trigger').item.json.hospital_type }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,384],"id":"acfc9b22-18fa-4f7a-b834-b6fded7f5716","name":"Set Unknown Hospital Error"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]},"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Switch Hospital Type","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Switch Hospital Type":{"main":[[{"node":"Start Jackson Summary","type":"main","index":0}],[{"node":"Start Baptist Summary","type":"main","index":0}],[{"node":"Set Unknown Hospital Error","type":"main","index":0}],[{"node":"Set Unknown Hospital Error","type":"main","index":0}]]},"Start Jackson Summary":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Start Steward Summary":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Start Baptist Summary":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7332ee9-1b18-47f6-9cc6-5f179c886b20","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T22:59:52.007Z","createdAt":"2025-12-18T22:59:52.007Z","role":"workflow:owner","workflowId":"0qWMY0WFezbjzNne","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:47:46.767Z","createdAt":"2025-12-22T23:47:46.767Z","id":"HpxY9230wHkjUhYh","name":"hanna-med-ma-n8n/tool"}]}