tool-rpa-batch-patientlist-1QD5pJobUZzpMhMV.json
{"updatedAt":"2025-12-23T18:51:07.632Z","createdAt":"2025-12-23T18:00:18.142Z","id":"1QD5pJobUZzpMhMV","name":"TOOL: RPA Batch PatientList","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"hospital_types","type":"array"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[272,-96],"id":"3b97df8c-94e8-4a79-b885-608ed6b80bc0","name":"Sub-Workflow Trigger"},{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/queue-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-96],"id":"3c1b8e92-3afd-4ff1-83a8-00d716d1ec24","name":"Get Queue Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.current_status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}},{"id":"check-queue-empty","leftValue":"={{ $json.pending }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-96],"id":"b6827743-fcb7-4fdd-a526-1cc28ffee6a2","name":"If RPA Available"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"status\": \"busy\",\n\"message\": \"RPA is currently busy. Status: {{ $('Get Queue Status').item.json.current_status }}, Queue: {{ $('Get Queue Status').item.json.pending }} pending requests.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,0],"id":"00e2c6ed-9332-4b85-bcfd-7aaebdf6b8f0","name":"Set Busy Output"},{"parameters":{"fieldToSplitOut":"hospital_types","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[944,-192],"id":"f50fa742-eef5-4de4-b49d-f0ae35463141","name":"Split: Hospital Types"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/queue-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id + \"_\" + $json.hospital_types,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"hospital_type\": $json.hospital_types,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  })),\n  \"batch_id\": $execution.id\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,-192],"id":"d76d2dda-e12a-4de2-9fb6-649104802512","name":"Queue Hospital Request"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"queued_requests","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1392,-192],"id":"a5f636d2-6d04-4619-8858-ef5cc7c83af0","name":"Aggregate: Results"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"queued\",\n  \"message\": \"{{ $json.queued_requests.length }} hospital list(s) queued for processing. Results will be sent as each completes.\",\n  \"queued_count\": {{ $json.queued_requests.length }},\n  \"hospitals\": {{ $('Sub-Workflow Trigger').item.json.hospital_types.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,-192],"id":"5cedeef2-ac8a-4297-bf64-1e7e64acd70b","name":"Set Batch Output"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"Get Queue Status","type":"main","index":0}]]},"Get Queue Status":{"main":[[{"node":"If RPA Available","type":"main","index":0}]]},"If RPA Available":{"main":[[{"node":"Split: Hospital Types","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Split: Hospital Types":{"main":[[{"node":"Queue Hospital Request","type":"main","index":0}]]},"Queue Hospital Request":{"main":[[{"node":"Aggregate: Results","type":"main","index":0}]]},"Aggregate: Results":{"main":[[{"node":"Set Batch Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"be9513e8-0aea-4362-af71-675d24e63867","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T18:00:18.146Z","createdAt":"2025-12-23T18:00:18.146Z","role":"workflow:owner","workflowId":"1QD5pJobUZzpMhMV","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:47:46.767Z","createdAt":"2025-12-22T23:47:46.767Z","id":"HpxY9230wHkjUhYh","name":"hanna-med-ma-n8n/tool"}]}