tool-rpa-batchpatientsummary-zBnGBoMwsvXNIuri.json
{"updatedAt":"2025-12-23T20:19:49.219Z","createdAt":"2025-12-23T20:14:52.803Z","id":"zBnGBoMwsvXNIuri","name":"TOOL: RPA BatchPatientSummary","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"patient_names","type":"array"},{"name":"hospital_type"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-688,16],"id":"0c391108-aa83-45b8-9e37-8d0c1facc9a1","name":"Sub-Workflow Trigger"},{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,16],"id":"9644ddf7-910a-4978-86a3-0027bf52ac42","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,16],"id":"87d7ae48-aaad-4c49-8bed-a6b68c5c2faa","name":"If Status Is Idle"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-batch-summary-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"hospital_type\": $('Sub-Workflow Trigger').item.json.hospital_type,\n  \"patient_names\": $('Sub-Workflow Trigger').item.json.patient_names,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-80],"id":"99ad2e6c-3786-45ad-8a9c-0bb9cb75f362","name":"Start Batch Summary"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"running\",\n  \"message\": \"Batch summary started for {{ $('Sub-Workflow Trigger').item.json.patient_names.length }} patients at {{ $('Sub-Workflow Trigger').item.json.hospital_type }}. Processing...\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-80],"id":"75559f8b-eb55-48ee-9409-c1d765823250","name":"Set Started Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\",\n\"message\": \"RPA is currently busy processing another request. Please wait.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,112],"id":"0921f0ea-bcca-4d93-be38-50a18048b494","name":"Set Busy Output"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]},"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Start Batch Summary","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Start Batch Summary":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"184b614a-8adb-463a-a691-f40da7e17ff2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T20:14:52.811Z","createdAt":"2025-12-23T20:14:52.811Z","role":"workflow:owner","workflowId":"zBnGBoMwsvXNIuri","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:47:46.767Z","createdAt":"2025-12-22T23:47:46.767Z","id":"HpxY9230wHkjUhYh","name":"hanna-med-ma-n8n/tool"}]}