tool-rpa-patientlist-oVFxVptkm8K19sfo.json
{"updatedAt":"2025-12-22T23:47:48.183Z","createdAt":"2025-12-18T22:34:57.698Z","id":"oVFxVptkm8K19sfo","name":"TOOL: RPA PatientList","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"hospital_type"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,400],"id":"f1c45bfd-82f6-4fb7-9e83-c76614d31453","name":"Sub-Workflow Trigger"},{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,400],"id":"9dea6764-caa7-4691-9f1e-763dcc5ff0dd","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,400],"id":"e0e87ccf-88e6-4d25-b3af-4ed84185a2e9","name":"If Status Is Idle"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-jackson","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"JACKSON","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Jackson"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-baptist","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"BAPTIST","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Baptist"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-steward","leftValue":"={{ $('Sub-Workflow Trigger').item.json.hospital_type }}","rightValue":"STEWARD","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Steward"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-224,256],"id":"74fe2143-89b8-4d67-89e6-55e1b180671d","name":"Switch Hospital Type"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-jackson-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"598e5120-0fbc-4d77-9181-f82781b27bb5","name":"Start Jackson RPA"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-steward-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,384],"id":"3482127c-74bf-4fba-a415-2d5c6357a86d","name":"Start Steward RPA"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,192],"id":"c1c57607-34b7-4574-bfb7-1dd0d5084f11","name":"Start Baptist RPA"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"running\",\n  \"message\": \"Patient list capture started for {{ $('Sub-Workflow Trigger').item.json.hospital_type }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,112],"id":"72fb33c1-9f67-4259-9b61-73ff48ec8533","name":"Set Started Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\",\n\"message\": \"RPA is currently busy processing another request\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,512],"id":"e55db94f-0bdc-4ddf-8b37-748a680c95f6","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"status\": \"error\",\n\"message\": \"Unknown hospital type: {{ $('Sub-Workflow Trigger').item.json.hospital_type }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,576],"id":"4e58b4fe-4c10-432a-bd41-bca7c96bb7a4","name":"Set Unknown Hospital Error"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]},"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Switch Hospital Type","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Switch Hospital Type":{"main":[[{"node":"Start Jackson RPA","type":"main","index":0}],[{"node":"Start Baptist RPA","type":"main","index":0}],[{"node":"Start Steward RPA","type":"main","index":0}],[{"node":"Set Unknown Hospital Error","type":"main","index":0}]]},"Start Jackson RPA":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Start Steward RPA":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Start Baptist RPA":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2dd889dc-b9b4-4c4b-8322-b0d693268a85","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T22:34:57.702Z","createdAt":"2025-12-18T22:34:57.702Z","role":"workflow:owner","workflowId":"oVFxVptkm8K19sfo","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:47:46.767Z","createdAt":"2025-12-22T23:47:46.767Z","id":"HpxY9230wHkjUhYh","name":"hanna-med-ma-n8n/tool"}]}