tool-rpa-batchpatientlist-1QD5pJobUZzpMhMV.json
{"updatedAt":"2025-12-23T20:19:41.004Z","createdAt":"2025-12-23T18:00:18.142Z","id":"1QD5pJobUZzpMhMV","name":"TOOL: RPA BatchPatientList","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"hospital_types","type":"array"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[256,-400],"id":"3b97df8c-94e8-4a79-b885-608ed6b80bc0","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"={\n\"status\": \"busy\",\n\"message\": \"RPA is currently busy. Status: {{ $('Get Queue Status').item.json.current_status }}, Queue: {{ $('Get Queue Status').item.json.pending }} pending requests.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-288],"id":"00e2c6ed-9332-4b85-bcfd-7aaebdf6b8f0","name":"Set Busy Output"},{"parameters":{"fieldToSplitOut":"hospital_types","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1152,-496],"id":"f50fa742-eef5-4de4-b49d-f0ae35463141","name":"Split: Hospital Types"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/queue-rpa-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id + \"_\" + $json.hospital_types,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"hospital_type\": $json.hospital_types,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  })),\n  \"batch_id\": $execution.id\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,-496],"id":"d76d2dda-e12a-4de2-9fb6-649104802512","name":"Queue Hospital Request"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"queued_requests","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1600,-496],"id":"a5f636d2-6d04-4619-8858-ef5cc7c83af0","name":"Aggregate: Results"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"queued\",\n  \"message\": \"{{ $json.queued_requests.length }} hospital list(s) queued for processing. Results will be sent as each completes.\",\n  \"queued_count\": {{ $json.queued_requests.length }},\n  \"hospitals\": {{ $('Sub-Workflow Trigger').item.json.hospital_types.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,-496],"id":"5cedeef2-ac8a-4297-bf64-1e7e64acd70b","name":"Set Batch Output"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,-496],"id":"0a988f50-70a2-43df-bd23-2023b8ed57e5","name":"Merge"},{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-336],"id":"d510f4f5-ad65-429d-a570-2b56536bd7f9","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,-336],"id":"355ff63c-a32f-4842-9c20-d539a8c8cbb7","name":"If Status Is Idle"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Get RPA Status","type":"main","index":0}]]},"Split: Hospital Types":{"main":[[{"node":"Queue Hospital Request","type":"main","index":0}]]},"Queue Hospital Request":{"main":[[{"node":"Aggregate: Results","type":"main","index":0}]]},"Aggregate: Results":{"main":[[{"node":"Set Batch Output","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split: Hospital Types","type":"main","index":0}]]},"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Set Busy Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Sub-Workflow Trigger":[{"json":{"sender":"573116347712@s.whatsapp.net","rpa_server_url":"https://rpa-drfernanda.hannamedma.com","trigger_type":"on_demand","instance":"medical-assistant-dev","doctor_name":"Dr. Peter Hanna","hospital_types":["JACKSON","STEWARD"],"credentials":[{"id":5,"doctorId":7,"systemKey":"JACKSON","fields":{"username":"peter.hanna","password":"@Miababy75"},"createdAt":"2025-12-16T00:52:07.513Z","updatedAt":"2025-12-16T00:52:34.946Z","systemInfo":{"name":"Jackson Health","logo":"/logos/jackson.png","fields":[{"key":"username","label":"Username","type":"text","required":true},{"key":"password","label":"Password","type":"password","required":true}]}},{"id":6,"doctorId":7,"systemKey":"STEWARD","fields":{"email":"peter.hanna@steward.org","password":"@Miababy77889911"},"createdAt":"2025-12-16T00:52:48.671Z","updatedAt":"2025-12-16T00:52:48.671Z","systemInfo":{"name":"Steward Health","logo":"/logos/steward.png","fields":[{"key":"email","label":"Email","type":"email","required":true},{"key":"password","label":"Password","type":"password","required":true}]}}]}}]},"versionId":"cc893039-e725-4881-9e6d-2bda5f5fe44b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T18:00:18.146Z","createdAt":"2025-12-23T18:00:18.146Z","role":"workflow:owner","workflowId":"1QD5pJobUZzpMhMV","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:47:46.767Z","createdAt":"2025-12-22T23:47:46.767Z","id":"HpxY9230wHkjUhYh","name":"hanna-med-ma-n8n/tool"}]}