tool:-rpa-agentic-run-ueYecqbmDHSF7UVB.json
{"updatedAt":"2025-12-17T22:15:00.000Z","createdAt":"2025-12-16T23:46:33.289Z","id":"ueYecqbmDHSF7UVB","name":"TOOL: RPA Agentic Run","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/agentic/run","sendBody":true,"bodyParameters":{"parameters":[{"name":"goal","value":"={{ $json.goal }}"},{"name":"execution_id","value":"={{ $execution.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,-16],"id":"77749b79-69a6-44d5-b4aa-bbe9d41d7500","name":"HTTP Request"},{"parameters":{"workflowInputs":{"values":[{"name":"goal"},{"name":"rpa_server_url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-272,-16],"id":"b936c9e5-01ac-4be3-9202-6a43aee77075","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"status\": \"running\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,-16],"id":"6b70ec20-0d54-4014-a0cb-828dd19fdc6d","name":"Set Started Output"}],"connections":{"Sub-Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ae25b106-52b3-49eb-8759-a1961aec6347","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T23:46:33.292Z","createdAt":"2025-12-16T23:46:33.292Z","role":"workflow:owner","workflowId":"ueYecqbmDHSF7UVB","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}