tool:-rpa-steward-patientlist-w4n0p8vjn4PBVtzn.json
{"updatedAt":"2025-12-19T00:10:15.000Z","createdAt":"2025-12-04T20:10:42.123Z","id":"w4n0p8vjn4PBVtzn","name":"TOOL: RPA Steward PatientList","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,96],"id":"3670710f-c61b-4b52-8976-6735a7247423","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9c7b9e-f561-4da0-9d0b-c2efbf119f75","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"9f8abb0c-08d2-47fd-afe8-e4411ed9ecd2","name":"If Status Is Idle"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-steward-rpa-flow","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"5a390a87-38c8-403e-aef1-70438e09fe39","name":"Start RPA Process"},{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,96],"id":"58d82dfa-b316-49b4-895a-e8933933c8b1","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"78627f7d-ebed-4342-95bd-7e9b88525fad","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"status\": \"running\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"9d7dae90-feab-4a7c-9297-e6a1128d3af5","name":"Set Started Output"}],"connections":{"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Start RPA Process","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Start RPA Process":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6a7fbe29-b6dd-4618-b333-ac00bd84a73d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-04T20:10:42.127Z","createdAt":"2025-12-04T20:10:42.127Z","role":"workflow:owner","workflowId":"w4n0p8vjn4PBVtzn","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}