tool:-rpa-jackson-patient-summary-X8QGxQep5CYa8TyN.json
{"updatedAt":"2025-12-19T00:10:00.000Z","createdAt":"2025-12-17T22:16:23.406Z","id":"X8QGxQep5CYa8TyN","name":"TOOL: RPA Jackson Patient Summary","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/flow-status","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,96],"id":"aef6896c-c2fe-4824-a827-283693b25c32","name":"Get RPA Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-idle","leftValue":"={{ $json.data.status }}","rightValue":"idle","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"fdfa336b-fa12-44b7-9b1a-2d785474a70c","name":"If Status Is Idle"},{"parameters":{"method":"POST","url":"={{ $('Sub-Workflow Trigger').item.json.rpa_server_url }}/start-jackson-summary-flow","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"execution_id\": $execution.id,\n  \"sender\": $('Sub-Workflow Trigger').item.json.sender,\n  \"trigger_type\": $('Sub-Workflow Trigger').item.json.trigger_type,\n  \"instance\": $('Sub-Workflow Trigger').item.json.instance,\n  \"doctor_name\": $('Sub-Workflow Trigger').item.json.doctor_name,\n  \"patient_name\": $('Sub-Workflow Trigger').item.json.patient_name,\n  \"credentials\": $('Sub-Workflow Trigger').item.json.credentials.map(c => ({\n      \"systemKey\": c.systemKey,\n      \"fields\": c.fields\n  }))\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"8d4f4fe8-8025-412a-be4a-70de00eb3453","name":"Start Jackson Summary Flow"},{"parameters":{"workflowInputs":{"values":[{"name":"sender"},{"name":"rpa_server_url"},{"name":"trigger_type"},{"name":"instance"},{"name":"doctor_name"},{"name":"patient_name"},{"name":"credentials","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,96],"id":"8c08d444-03c3-4270-82f3-67bfd480674c","name":"Sub-Workflow Trigger"},{"parameters":{"mode":"raw","jsonOutput":"{\n\"status\": \"busy\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"84a4c25a-39f5-411b-93da-426cb9e4444e","name":"Set Busy Output"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"status\": \"running\",\n  \"message\": \"Jackson patient summary flow started. Looking for the patient's Final Report.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"a6a981e1-e9eb-45bf-a1ea-5c4021ea881d","name":"Set Started Output"}],"connections":{"Get RPA Status":{"main":[[{"node":"If Status Is Idle","type":"main","index":0}]]},"If Status Is Idle":{"main":[[{"node":"Start Jackson Summary Flow","type":"main","index":0}],[{"node":"Set Busy Output","type":"main","index":0}]]},"Start Jackson Summary Flow":{"main":[[{"node":"Set Started Output","type":"main","index":0}]]},"Sub-Workflow Trigger":{"main":[[{"node":"Get RPA Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"39018bb6-c4f3-4679-8d61-c59e23ad226a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-17T22:16:23.410Z","createdAt":"2025-12-17T22:16:23.410Z","role":"workflow:owner","workflowId":"X8QGxQep5CYa8TyN","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}