webhook-rpa-batchpatientsummary-dZ9om2gge5OtD9K8.json
{"updatedAt":"2025-12-23T20:20:25.003Z","createdAt":"2025-12-23T20:14:05.080Z","id":"dZ9om2gge5OtD9K8","name":"WEBHOOK: RPA BatchPatientSummary","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-batch-patient-summary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,-96],"id":"8618ae3c-c125-414a-8f2d-ebc022be7825","name":"RPA Batch Summary Webhook","webhookId":"batch-patient-summary-webhook"},{"parameters":{"promptType":"define","text":"=Here is the batch patient data extracted from the EMR. Create a consolidated summary for all patients.\n\nContext Variables:\n- Hospital: {{ $('RPA Batch Summary Webhook').item.json.body.hospital }}\n- Total Patients: {{ $('RPA Batch Summary Webhook').item.json.body.total }}\n- Found: {{ $('RPA Batch Summary Webhook').item.json.body.found_count }}\n\n--- BATCH DATA BEGINS ---\n{{ JSON.stringify($('RPA Batch Summary Webhook').item.json.body.patients, null, 2) }}\n--- BATCH DATA ENDS ---","options":{"systemMessage":"=<role>\nYou are an expert Clinical Scribe for Dr. {{ $('RPA Batch Summary Webhook').item.json.body.doctor_name }}.\nYour goal is to create a CONSOLIDATED BATCH summary of multiple patients from {{ $('RPA Batch Summary Webhook').item.json.body.hospital }}.\n</role>\n\n<formatting_rules>\nUse WhatsApp native formatting:\n1. **Headings:** Use BOLD with asterisks (*HEADING*)\n2. **Patient sections:** Separate each patient with a line\n3. **Keep it SHORT:** Max 3-4 lines per patient\n4. **Use emojis sparingly:** 📋 for header, 👤 for patients, ⚠️ for not found\n</formatting_rules>\n\n<output_template>\n📋 *BATCH SUMMARY - {{ $('RPA Batch Summary Webhook').item.json.body.hospital }}*\n_{{ $('RPA Batch Summary Webhook').item.json.body.total }} patients processed_\n\nFor EACH found patient, provide ULTRA-CONDENSED info:\n👤 *PATIENT NAME*\n├ Dx: [Primary diagnosis - 1 line max]\n└ Plan: [Key action - 1 line max]\n\nFor NOT FOUND patients:\n⚠️ *PATIENT NAME* - Not found\n\nEnd with:\n_✅ {{ $('RPA Batch Summary Webhook').item.json.body.found_count }}/{{ $('RPA Batch Summary Webhook').item.json.body.total }} patients found_\n</output_template>\n\n<constraints>\n- BREVITY IS CRITICAL: Optimize for <30 seconds total reading time\n- Each patient summarized in 2-3 lines MAX\n- Only include the MOST critical clinical info (Dx + Plan)\n- Skip detailed labs/vitals - just mention if abnormal\n- If patient not found, just mark with ⚠️\n- NO lengthy explanations\n</constraints>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-176,-96],"id":"b5e6efe2-deb8-44fd-becf-3e39a7ae548e","name":"Format Batch Summary (Agent)","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-176,128],"id":"ff60382e-5336-418b-950f-fcad5bda5f94","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Batch Summary Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-48,128],"id":"f8c5517d-7bfb-4e30-9977-f6df5946692c","name":"Memory (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Batch Summary Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Batch Summary Webhook').item.json.body.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-96],"id":"f36f10ac-cf2a-40da-9f49-4609b6f90ca2","name":"Send Batch Summary to Doctor","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}}],"connections":{"RPA Batch Summary Webhook":{"main":[[{"node":"Format Batch Summary (Agent)","type":"main","index":0}]]},"Format Batch Summary (Agent)":{"main":[[{"node":"Send Batch Summary to Doctor","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"Format Batch Summary (Agent)","type":"ai_languageModel","index":0}]]},"Memory (DB)":{"ai_memory":[[{"node":"Format Batch Summary (Agent)","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a02fa551-31fb-447c-bece-efd66573000d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T20:14:05.083Z","createdAt":"2025-12-23T20:14:05.083Z","role":"workflow:owner","workflowId":"dZ9om2gge5OtD9K8","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-22T23:48:52.484Z","createdAt":"2025-12-22T23:48:52.484Z","id":"zaH2Tc1drRr4Km7V","name":"hanna-med-ma-n8n/webhook"}]}