webhook-rpa-patientlist-W18ug9ZTxQI8BYfG.json
{"updatedAt":"2025-12-22T23:49:54.553Z","createdAt":"2025-11-14T21:08:22.393Z","id":"W18ug9ZTxQI8BYfG","name":"WEBHOOK: RPA PatientList","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-672,128],"id":"29306ba6-a4f9-4111-ad10-eee88fcb15d0","name":"RPA Data Webhook","webhookId":"a34bd4f6-3527-4247-89fc-c74881c8a569"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Data Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Data Webhook').item.json.body.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,32],"id":"90d94aec-e8de-4282-bd46-7b47089502f3","name":"Send Patient List to Doctor","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"fieldToSplitOut":"body.screenshots","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-224,128],"id":"e7876a08-989f-4bd3-b549-136828a419e6","name":"Split Out: Screenshots"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,128],"id":"c33f4d75-2b75-4813-84db-e424d46d5cc5","name":"Aggregate: Results"},{"parameters":{"assignments":{"assignments":[{"id":"8f123456-1234-4321-abcd-1234567890ab","name":"textOCR","value":"={{ $json.data.map(item => `--- SOURCE: ${$('RPA Data Webhook').item.json.body.type} | HOSPITAL: ${item.hospital_context} ---\\n${item.extracted_text}`).join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,128],"id":"e62fbe69-ea48-4ebc-a020-f9e470b9b091","name":"Format: Join with Headers"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Data Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1488,256],"id":"3c097e7c-9028-4b99-b8bc-0da58e73f52c","name":"Memory Formatter (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"url":"={{ $json.screenshot_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,128],"id":"067b2cbe-2e23-4545-8d1f-ee12f537bda9","name":"Download Screenshot"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[224,128],"id":"e8f6a923-9a6a-4b13-a2fb-8358adf5f447","name":"Extract base64 Screenshot"},{"parameters":{"promptType":"define","text":"=---\nDATA TO PROCESS:\n{{ $json.textOCR }}\n---","options":{"systemMessage":"=<role>\nYou are an Elite Medical Data Assistant, specialized in converting noisy OCR text into structured reports for WhatsApp. Your tone is professional, clinical, and extremely organized.\n</role>\n\n<task>\nYour mission is to process text extracted via OCR and organize a patient list following strict business rules. You must identify the data source (Jackson, Steward, or Baptist) and apply the corresponding extraction pattern.\n</task>\n\n<context>\n- CURRENT DATE/TIME: {{ $now.setZone('America/New_York').toFormat('yyyy-MM-dd HH:mm') }}\n- TRIGGER TYPE: {{ $('RPA Data Webhook').item.json.body.trigger_type }}\n- SOURCE SYSTEM: {{ $('RPA Data Webhook').item.json.body.type }}\n</context>\n\n<greeting_logic>\nEvaluate the variable TRIGGER_TYPE and CURRENT_DATETIME (Hour in New York):\n1. IF TRIGGER_TYPE is \"on_demand\": DO NOT include any greeting. Start directly with the hospital headers.\n2. IF TRIGGER_TYPE is \"scheduled\":\n   - Morning (05:00 - 11:59): \"Good morning, Doctor. Here is your patient list:\"\n   - Afternoon (12:00 - 17:59): \"Good afternoon, Doctor. Here is your patient list:\"\n   - Evening (18:00 - 04:59): \"Good evening, Doctor. Here is your patient list:\"\n</greeting_logic>\n\n<extraction_logic>\nApply these patterns based on the detected content:\n\n1. JACKSON HEALTH (Tables):\n   - Trigger: Rows with codes such as WW09, JW04, 2W.\n   - Extract: [Name], [Location], [Reason/Service].\n\n2. STEWARD HEALTH (Cards):\n   - Trigger: Blocks containing \"Rm/Bed\", \"Patient Name\".\n   - Extract: Name (usually Last, First), Location (top-left code), Reason, and Admission Date.\n\n3. BAPTIST HEALTH (Multi-Tab):\n   - Trigger: Headers \"HOSPITAL: ...\".\n   - Hospital Mapping:\n     * HH-South -> 🏥 *Homestead Hospital*\n     * smh - South -> 🏥 *South Miami Hospital*\n     * wkbh - South -> 🏥 *West Kendall Baptist*\n     * BHM South -> 🏥 *Baptist Hospital Main*\n</extraction_logic>\n\n<constraints>\n1. GREETING: \n   - IF trigger_type = 'scheduled', greet according to the current time (Good morning/afternoon/evening).\n   - IF trigger_type = 'on_demand', DO NOT include a greeting.\n2. HIGHLIGHTING (NEW): Compare the \"Admitted\" date with the CURRENT DATE. If it is TODAY or YESTERDAY, mark the name as: *Name (NEW)*.\n3. DATA CLEANING: Remove noise such as \"Hanna, Peter\", page numbers, \"Directory Display\", \"Yes/No\".\n4. DATE FORMAT: Always MM/DD.\n5. SPACING RULE: You must insert a mandatory blank line after each patient (after the └ symbol).\n6. NO MARKDOWN: Do not use code blocks (```). Send only plain text compatible with WhatsApp.\n</constraints>\n\n<output_format>\nGroup by Hospital (using the mapped name with emoji).\nFor each patient, use:\nPatient Name\n├ Reason: [Short text < 40 chars]\n├ Location: [Code]\n└ Admitted: [MM/DD] (Omit if non-existent)\n\n(Empty line here)\n</output_format>\n\n<examples>\nInput: \"FERNANDEZ, ORLANDO ... 11/22 ... BH SMW 5121 AA ... Abdominal pain\"\nOutput:\nFERNANDEZ, ORLANDO\n├ Reason: Abdominal pain\n├ Location: BH SMW 5121 AA\n└ Admitted: 11/22\n\nInput: \"RICO, JACKELIN ... Admitted 12/17 ... SM IMC IM05 01 (Assume today is 12/18)\"\nOutput:\n*RICO, JACKELIN (NEW)*\n├ Reason: General Care\n├ Location: SM IMC IM05 01\n└ Admitted: 12/17\n</examples>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1344,32],"id":"e6364ad6-4e6f-4237-82d3-c9cc762153f6","name":"Format Patient List (Agent)","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('RPA Data Webhook').item.json.body.pdf_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9f47dad5-a67f-473d-bdd1-63a4825f9796"}],"combinator":"and"},"renameOutput":true,"outputKey":"IF Has PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ceeefdc-628d-42be-b3c1-6a648dd67f37","leftValue":"={{ $('RPA Data Webhook').item.json.body.screenshots?.toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IF Has Screenshots"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-448,112],"id":"7d8ff2b5-d17b-430c-859f-ec6e09834cae","name":"Switch"},{"parameters":{"url":"={{ $('RPA Data Webhook').item.json.body.pdf_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-64],"id":"742e410b-359d-4cb3-8aec-38a25c9fb1a1","name":"Download PDF"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[672,-64],"id":"3dadb200-5cbc-449f-bf21-4f4f5d1d7d74","name":"Extract base64 PDF"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBlPk-r1t_AIZY5ntkz8bu395C_tCi4yV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"image\": {\n          \"content\": \"{{ $json.data }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"imageContext\": {\n        \"languageHints\": [\n          \"es\",\n          \"en\"\n        ]\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,128],"id":"8d71e751-9f48-4104-95cf-71ff3ceeb646","name":"OCR Images: Google Vision"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/files:annotate?key=AIzaSyBlPk-r1t_AIZY5ntkz8bu395C_tCi4yV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.data }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [\n        1,\n        2,\n        3,\n        4,\n        5\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,-64],"id":"71aa0ae8-324d-49f8-bb9f-ab0425660941","name":"OCR PDF: Google Vision"},{"parameters":{"assignments":{"assignments":[{"id":"4f025269-7f56-42a1-9231-15646e8f3f0f","name":"extracted_text","value":"={{ $json.responses[0].fullTextAnnotation.text }}","type":"string"},{"id":"db6d1b07-a8e9-469f-b504-ee066ad2e795","name":"hospital_context","value":"={{ $('Split Out: Screenshots').item.json.hospital_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,128],"id":"2365d259-4a86-4b6a-a82c-a1e818ac2947","name":"Format Images: Extract & Tag"},{"parameters":{"assignments":{"assignments":[{"id":"8f123456-1234-4321-abcd-1234567890ab","name":"textOCR","value":"=--- SOURCE: {{ $('RPA Data Webhook').item.json.body.type }} ---\n\n{{ $json.responses[0].responses[0].fullTextAnnotation.text }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-64],"id":"05965788-7a0b-4631-ab64-73e951fc5818","name":"Format PDF"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,256],"id":"affb9c8c-4b19-4084-8260-48f8bb964c74","name":"LLM (Formatter OpenAi)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"errorMessage":"RPA Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-224,320],"id":"7a27ca1c-1ba3-4fbe-aec4-2e1e2b13c0e4","name":"RPA Error"}],"connections":{"RPA Data Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Split Out: Screenshots":{"main":[[{"node":"Download Screenshot","type":"main","index":0}]]},"Aggregate: Results":{"main":[[{"node":"Format: Join with Headers","type":"main","index":0}]]},"Format: Join with Headers":{"main":[[{"node":"Format Patient List (Agent)","type":"main","index":0}]]},"Memory Formatter (DB)":{"ai_memory":[[{"node":"Format Patient List (Agent)","type":"ai_memory","index":0}]]},"Download Screenshot":{"main":[[{"node":"Extract base64 Screenshot","type":"main","index":0}]]},"Extract base64 Screenshot":{"main":[[{"node":"OCR Images: Google Vision","type":"main","index":0}]]},"Format Patient List (Agent)":{"main":[[{"node":"Send Patient List to Doctor","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download PDF","type":"main","index":0}],[{"node":"Split Out: Screenshots","type":"main","index":0}],[{"node":"RPA Error","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Extract base64 PDF","type":"main","index":0}]]},"OCR Images: Google Vision":{"main":[[{"node":"Format Images: Extract & Tag","type":"main","index":0}]]},"Extract base64 PDF":{"main":[[{"node":"OCR PDF: Google Vision","type":"main","index":0}]]},"OCR PDF: Google Vision":{"main":[[{"node":"Format PDF","type":"main","index":0}]]},"Format Images: Extract & Tag":{"main":[[{"node":"Aggregate: Results","type":"main","index":0}]]},"Format PDF":{"main":[[{"node":"Format Patient List (Agent)","type":"main","index":0}]]},"LLM (Formatter OpenAi)":{"ai_languageModel":[[{"node":"Format Patient List (Agent)","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d365d38-b377-4689-8f12-282236fa1220","activeVersionId":"7d365d38-b377-4689-8f12-282236fa1220","triggerCount":1,"shared":[{"updatedAt":"2025-11-14T21:08:22.397Z","createdAt":"2025-11-14T21:08:22.397Z","role":"workflow:owner","workflowId":"W18ug9ZTxQI8BYfG","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T23:49:54.554Z","createdAt":"2025-12-22T23:49:54.554Z","versionId":"7d365d38-b377-4689-8f12-282236fa1220","workflowId":"W18ug9ZTxQI8BYfG","nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-672,128],"id":"29306ba6-a4f9-4111-ad10-eee88fcb15d0","name":"RPA Data Webhook","webhookId":"a34bd4f6-3527-4247-89fc-c74881c8a569"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Data Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Data Webhook').item.json.body.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,32],"id":"90d94aec-e8de-4282-bd46-7b47089502f3","name":"Send Patient List to Doctor","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"fieldToSplitOut":"body.screenshots","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-224,128],"id":"e7876a08-989f-4bd3-b549-136828a419e6","name":"Split Out: Screenshots"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,128],"id":"c33f4d75-2b75-4813-84db-e424d46d5cc5","name":"Aggregate: Results"},{"parameters":{"assignments":{"assignments":[{"id":"8f123456-1234-4321-abcd-1234567890ab","name":"textOCR","value":"={{ $json.data.map(item => `--- SOURCE: ${$('RPA Data Webhook').item.json.body.type} | HOSPITAL: ${item.hospital_context} ---\\n${item.extracted_text}`).join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,128],"id":"e62fbe69-ea48-4ebc-a020-f9e470b9b091","name":"Format: Join with Headers"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Data Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1488,256],"id":"3c097e7c-9028-4b99-b8bc-0da58e73f52c","name":"Memory Formatter (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"url":"={{ $json.screenshot_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,128],"id":"067b2cbe-2e23-4545-8d1f-ee12f537bda9","name":"Download Screenshot"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[224,128],"id":"e8f6a923-9a6a-4b13-a2fb-8358adf5f447","name":"Extract base64 Screenshot"},{"parameters":{"promptType":"define","text":"=---\nDATA TO PROCESS:\n{{ $json.textOCR }}\n---","options":{"systemMessage":"=<role>\nYou are an Elite Medical Data Assistant, specialized in converting noisy OCR text into structured reports for WhatsApp. Your tone is professional, clinical, and extremely organized.\n</role>\n\n<task>\nYour mission is to process text extracted via OCR and organize a patient list following strict business rules. You must identify the data source (Jackson, Steward, or Baptist) and apply the corresponding extraction pattern.\n</task>\n\n<context>\n- CURRENT DATE/TIME: {{ $now.setZone('America/New_York').toFormat('yyyy-MM-dd HH:mm') }}\n- TRIGGER TYPE: {{ $('RPA Data Webhook').item.json.body.trigger_type }}\n- SOURCE SYSTEM: {{ $('RPA Data Webhook').item.json.body.type }}\n</context>\n\n<greeting_logic>\nEvaluate the variable TRIGGER_TYPE and CURRENT_DATETIME (Hour in New York):\n1. IF TRIGGER_TYPE is \"on_demand\": DO NOT include any greeting. Start directly with the hospital headers.\n2. IF TRIGGER_TYPE is \"scheduled\":\n   - Morning (05:00 - 11:59): \"Good morning, Doctor. Here is your patient list:\"\n   - Afternoon (12:00 - 17:59): \"Good afternoon, Doctor. Here is your patient list:\"\n   - Evening (18:00 - 04:59): \"Good evening, Doctor. Here is your patient list:\"\n</greeting_logic>\n\n<extraction_logic>\nApply these patterns based on the detected content:\n\n1. JACKSON HEALTH (Tables):\n   - Trigger: Rows with codes such as WW09, JW04, 2W.\n   - Extract: [Name], [Location], [Reason/Service].\n\n2. STEWARD HEALTH (Cards):\n   - Trigger: Blocks containing \"Rm/Bed\", \"Patient Name\".\n   - Extract: Name (usually Last, First), Location (top-left code), Reason, and Admission Date.\n\n3. BAPTIST HEALTH (Multi-Tab):\n   - Trigger: Headers \"HOSPITAL: ...\".\n   - Hospital Mapping:\n     * HH-South -> 🏥 *Homestead Hospital*\n     * smh - South -> 🏥 *South Miami Hospital*\n     * wkbh - South -> 🏥 *West Kendall Baptist*\n     * BHM South -> 🏥 *Baptist Hospital Main*\n</extraction_logic>\n\n<constraints>\n1. GREETING: \n   - IF trigger_type = 'scheduled', greet according to the current time (Good morning/afternoon/evening).\n   - IF trigger_type = 'on_demand', DO NOT include a greeting.\n2. HIGHLIGHTING (NEW): Compare the \"Admitted\" date with the CURRENT DATE. If it is TODAY or YESTERDAY, mark the name as: *Name (NEW)*.\n3. DATA CLEANING: Remove noise such as \"Hanna, Peter\", page numbers, \"Directory Display\", \"Yes/No\".\n4. DATE FORMAT: Always MM/DD.\n5. SPACING RULE: You must insert a mandatory blank line after each patient (after the └ symbol).\n6. NO MARKDOWN: Do not use code blocks (```). Send only plain text compatible with WhatsApp.\n</constraints>\n\n<output_format>\nGroup by Hospital (using the mapped name with emoji).\nFor each patient, use:\nPatient Name\n├ Reason: [Short text < 40 chars]\n├ Location: [Code]\n└ Admitted: [MM/DD] (Omit if non-existent)\n\n(Empty line here)\n</output_format>\n\n<examples>\nInput: \"FERNANDEZ, ORLANDO ... 11/22 ... BH SMW 5121 AA ... Abdominal pain\"\nOutput:\nFERNANDEZ, ORLANDO\n├ Reason: Abdominal pain\n├ Location: BH SMW 5121 AA\n└ Admitted: 11/22\n\nInput: \"RICO, JACKELIN ... Admitted 12/17 ... SM IMC IM05 01 (Assume today is 12/18)\"\nOutput:\n*RICO, JACKELIN (NEW)*\n├ Reason: General Care\n├ Location: SM IMC IM05 01\n└ Admitted: 12/17\n</examples>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1344,32],"id":"e6364ad6-4e6f-4237-82d3-c9cc762153f6","name":"Format Patient List (Agent)","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('RPA Data Webhook').item.json.body.pdf_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9f47dad5-a67f-473d-bdd1-63a4825f9796"}],"combinator":"and"},"renameOutput":true,"outputKey":"IF Has PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ceeefdc-628d-42be-b3c1-6a648dd67f37","leftValue":"={{ $('RPA Data Webhook').item.json.body.screenshots?.toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IF Has Screenshots"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-448,112],"id":"7d8ff2b5-d17b-430c-859f-ec6e09834cae","name":"Switch"},{"parameters":{"url":"={{ $('RPA Data Webhook').item.json.body.pdf_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-64],"id":"742e410b-359d-4cb3-8aec-38a25c9fb1a1","name":"Download PDF"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[672,-64],"id":"3dadb200-5cbc-449f-bf21-4f4f5d1d7d74","name":"Extract base64 PDF"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBlPk-r1t_AIZY5ntkz8bu395C_tCi4yV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"image\": {\n          \"content\": \"{{ $json.data }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"imageContext\": {\n        \"languageHints\": [\n          \"es\",\n          \"en\"\n        ]\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,128],"id":"8d71e751-9f48-4104-95cf-71ff3ceeb646","name":"OCR Images: Google Vision"},{"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/files:annotate?key=AIzaSyBlPk-r1t_AIZY5ntkz8bu395C_tCi4yV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"inputConfig\": {\n        \"content\": \"{{ $json.data }}\",\n        \"mimeType\": \"application/pdf\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ],\n      \"pages\": [\n        1,\n        2,\n        3,\n        4,\n        5\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,-64],"id":"71aa0ae8-324d-49f8-bb9f-ab0425660941","name":"OCR PDF: Google Vision"},{"parameters":{"assignments":{"assignments":[{"id":"4f025269-7f56-42a1-9231-15646e8f3f0f","name":"extracted_text","value":"={{ $json.responses[0].fullTextAnnotation.text }}","type":"string"},{"id":"db6d1b07-a8e9-469f-b504-ee066ad2e795","name":"hospital_context","value":"={{ $('Split Out: Screenshots').item.json.hospital_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,128],"id":"2365d259-4a86-4b6a-a82c-a1e818ac2947","name":"Format Images: Extract & Tag"},{"parameters":{"assignments":{"assignments":[{"id":"8f123456-1234-4321-abcd-1234567890ab","name":"textOCR","value":"=--- SOURCE: {{ $('RPA Data Webhook').item.json.body.type }} ---\n\n{{ $json.responses[0].responses[0].fullTextAnnotation.text }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-64],"id":"05965788-7a0b-4631-ab64-73e951fc5818","name":"Format PDF"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,256],"id":"affb9c8c-4b19-4084-8260-48f8bb964c74","name":"LLM (Formatter OpenAi)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"errorMessage":"RPA Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-224,320],"id":"7a27ca1c-1ba3-4fbe-aec4-2e1e2b13c0e4","name":"RPA Error"}],"connections":{"RPA Data Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Split Out: Screenshots":{"main":[[{"node":"Download Screenshot","type":"main","index":0}]]},"Aggregate: Results":{"main":[[{"node":"Format: Join with Headers","type":"main","index":0}]]},"Format: Join with Headers":{"main":[[{"node":"Format Patient List (Agent)","type":"main","index":0}]]},"Memory Formatter (DB)":{"ai_memory":[[{"node":"Format Patient List (Agent)","type":"ai_memory","index":0}]]},"Download Screenshot":{"main":[[{"node":"Extract base64 Screenshot","type":"main","index":0}]]},"Extract base64 Screenshot":{"main":[[{"node":"OCR Images: Google Vision","type":"main","index":0}]]},"Format Patient List (Agent)":{"main":[[{"node":"Send Patient List to Doctor","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download PDF","type":"main","index":0}],[{"node":"Split Out: Screenshots","type":"main","index":0}],[{"node":"RPA Error","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Extract base64 PDF","type":"main","index":0}]]},"OCR Images: Google Vision":{"main":[[{"node":"Format Images: Extract & Tag","type":"main","index":0}]]},"Extract base64 PDF":{"main":[[{"node":"OCR PDF: Google Vision","type":"main","index":0}]]},"OCR PDF: Google Vision":{"main":[[{"node":"Format PDF","type":"main","index":0}]]},"Format Images: Extract & Tag":{"main":[[{"node":"Aggregate: Results","type":"main","index":0}]]},"Format PDF":{"main":[[{"node":"Format Patient List (Agent)","type":"main","index":0}]]},"LLM (Formatter OpenAi)":{"ai_languageModel":[[{"node":"Format Patient List (Agent)","type":"ai_languageModel","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:48:52.484Z","createdAt":"2025-12-22T23:48:52.484Z","id":"zaH2Tc1drRr4Km7V","name":"hanna-med-ma-n8n/webhook"}]}