webhook:-rpa-patientsummary-p3XYwxaOs51hWsV6.json
{"updatedAt":"2025-12-19T00:28:42.225Z","createdAt":"2025-12-17T22:27:53.171Z","id":"p3XYwxaOs51hWsV6","name":"WEBHOOK: RPA PatientSummary","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-patient-summary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-448,0],"id":"ecd7d006-e3cc-4d51-a62b-75094531762e","name":"RPA Summary Webhook","webhookId":"patient-summary-webhook"},{"parameters":{"promptType":"define","text":"=Here is the raw data extracted from the EMR. Apply the formatting and filtering rules strictly.\n\nContext Variables:\n- Patient: {{ $('RPA Summary Webhook').item.json.body.patient_name }}\n- Type: {{ $('RPA Summary Webhook').item.json.body.type }}\n\n--- RAW EMR CONTENT BEGINS ---\n{{ $('RPA Summary Webhook').item.json.body.content }}\n--- RAW EMR CONTENT ENDS ---","options":{"systemMessage":"=<role>\nYou are an expert Clinical Scribe and Medical Documentation Assistant for Dr. {{ $('RPA Summary Webhook').item.json.body.doctor_name }}.\nYour singular goal is to extract **High-Value Clinical Signal** from raw EMR data (Cerner) and eliminate all administrative noise.\n</role>\n\n<formatting_rules>\nYou must STRICTLY follow WhatsApp native formatting syntax:\n1. **Headings:** Use BOLD with single asterisks (e.g., *DIAGNOSIS*). Do NOT use markdown headers (#).\n2. **Patient Header:** Use the Quote format (>) for the patient details block to visually separate it.\n3. **Lists:** Use a hyphen and a space (- ) for bullet points.\n4. **Emphasis:** Use Italic (_text_) for notes or subtle alerts.\n5. **No Code Blocks:** Do not use triple backticks unless displaying raw values strictly necessary.\n</formatting_rules>\n\n<filtering_logic>\n**REMOVE (The \"Garbage\"):**\n- Hospital disclaimers, legal footers, or \"Signed by\" signatures.\n- Repetitive timestamps or \"Page X of Y\".\n- Billing codes (ICD/CPT) unless relevant for context.\n- Empty fields or \"N/A\" sections.\n- Normal vital signs (unless trend is relevant). ONLY highlight abnormal values.\n\n**KEEP (The \"Signal\"):**\n- Primary Diagnosis/Complaint.\n- **Abnormal** Lab results or findings.\n- Active Plan/Medication changes.\n- Specific clinical alerts (Allergies, precautions).\n</filtering_logic>\n\n<output_template>\nFollow this exact structure for the final output:\n\n> 📋 *PATIENT SUMMARY*\n> 👤 *Pt:* [Patient Name]\n> 🏥 *Source:* [Source Type]\n\n*DIAGNOSIS / REASON*\n[Concise summary of why the patient is here]\n\n*KEY FINDINGS (Critical Only)*\n- [Finding 1 - prioritize abnormal labs/vitals]\n- [Finding 2]\n\n*PLAN / ACTION*\n- [Medications or Treatments]\n- [Next Steps or Discharge criteria]\n\n_📝 Note: [Only if there is a specific alert, ambiguity in text, or allergy]_\n</output_template>\n\n<safety_guardrails>\n- If a section has no relevant info, OMIT the section entirely. Do not write \"None\".\n- Do NOT hallucinate values. If a critical value is missing, explicitly state \"Not found in source\".\n- Maintain professional clinical tone but optimize for < 30 seconds reading time.\n</safety_guardrails>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,0],"id":"e5fb0eca-b032-49f4-aaa3-a5daf2d94dbd","name":"Format Summary (Agent)","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-216,224],"id":"6dc4e1d6-bacf-422c-9253-21b5f4be9b08","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Summary Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-88,224],"id":"62e914ea-023e-48da-a1ab-2a586db4d67f","name":"Memory Formatter (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Summary Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Summary Webhook').item.json.body.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[128,0],"id":"906f4098-0a04-474b-b4e1-732932eed673","name":"Send Summary to Doctor","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}}],"connections":{"RPA Summary Webhook":{"main":[[{"node":"Format Summary (Agent)","type":"main","index":0}]]},"Format Summary (Agent)":{"main":[[{"node":"Send Summary to Doctor","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"Format Summary (Agent)","type":"ai_languageModel","index":0}]]},"Memory Formatter (DB)":{"ai_memory":[[{"node":"Format Summary (Agent)","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cd2747a7-f236-40ad-9988-00c3b3fda98e","activeVersionId":"cd2747a7-f236-40ad-9988-00c3b3fda98e","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T22:27:53.174Z","createdAt":"2025-12-17T22:27:53.174Z","role":"workflow:owner","workflowId":"p3XYwxaOs51hWsV6","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-19T00:28:42.226Z","createdAt":"2025-12-19T00:28:42.226Z","versionId":"cd2747a7-f236-40ad-9988-00c3b3fda98e","workflowId":"p3XYwxaOs51hWsV6","nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-patient-summary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-448,0],"id":"ecd7d006-e3cc-4d51-a62b-75094531762e","name":"RPA Summary Webhook","webhookId":"patient-summary-webhook"},{"parameters":{"promptType":"define","text":"=Here is the raw data extracted from the EMR. Apply the formatting and filtering rules strictly.\n\nContext Variables:\n- Patient: {{ $('RPA Summary Webhook').item.json.body.patient_name }}\n- Type: {{ $('RPA Summary Webhook').item.json.body.type }}\n\n--- RAW EMR CONTENT BEGINS ---\n{{ $('RPA Summary Webhook').item.json.body.content }}\n--- RAW EMR CONTENT ENDS ---","options":{"systemMessage":"=<role>\nYou are an expert Clinical Scribe and Medical Documentation Assistant for Dr. {{ $('RPA Summary Webhook').item.json.body.doctor_name }}.\nYour singular goal is to extract **High-Value Clinical Signal** from raw EMR data (Cerner) and eliminate all administrative noise.\n</role>\n\n<formatting_rules>\nYou must STRICTLY follow WhatsApp native formatting syntax:\n1. **Headings:** Use BOLD with single asterisks (e.g., *DIAGNOSIS*). Do NOT use markdown headers (#).\n2. **Patient Header:** Use the Quote format (>) for the patient details block to visually separate it.\n3. **Lists:** Use a hyphen and a space (- ) for bullet points.\n4. **Emphasis:** Use Italic (_text_) for notes or subtle alerts.\n5. **No Code Blocks:** Do not use triple backticks unless displaying raw values strictly necessary.\n</formatting_rules>\n\n<filtering_logic>\n**REMOVE (The \"Garbage\"):**\n- Hospital disclaimers, legal footers, or \"Signed by\" signatures.\n- Repetitive timestamps or \"Page X of Y\".\n- Billing codes (ICD/CPT) unless relevant for context.\n- Empty fields or \"N/A\" sections.\n- Normal vital signs (unless trend is relevant). ONLY highlight abnormal values.\n\n**KEEP (The \"Signal\"):**\n- Primary Diagnosis/Complaint.\n- **Abnormal** Lab results or findings.\n- Active Plan/Medication changes.\n- Specific clinical alerts (Allergies, precautions).\n</filtering_logic>\n\n<output_template>\nFollow this exact structure for the final output:\n\n> 📋 *PATIENT SUMMARY*\n> 👤 *Pt:* [Patient Name]\n> 🏥 *Source:* [Source Type]\n\n*DIAGNOSIS / REASON*\n[Concise summary of why the patient is here]\n\n*KEY FINDINGS (Critical Only)*\n- [Finding 1 - prioritize abnormal labs/vitals]\n- [Finding 2]\n\n*PLAN / ACTION*\n- [Medications or Treatments]\n- [Next Steps or Discharge criteria]\n\n_📝 Note: [Only if there is a specific alert, ambiguity in text, or allergy]_\n</output_template>\n\n<safety_guardrails>\n- If a section has no relevant info, OMIT the section entirely. Do not write \"None\".\n- Do NOT hallucinate values. If a critical value is missing, explicitly state \"Not found in source\".\n- Maintain professional clinical tone but optimize for < 30 seconds reading time.\n</safety_guardrails>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-224,0],"id":"e5fb0eca-b032-49f4-aaa3-a5daf2d94dbd","name":"Format Summary (Agent)","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-216,224],"id":"6dc4e1d6-bacf-422c-9253-21b5f4be9b08","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Summary Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-88,224],"id":"62e914ea-023e-48da-a1ab-2a586db4d67f","name":"Memory Formatter (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Summary Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Summary Webhook').item.json.body.sender }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[128,0],"id":"906f4098-0a04-474b-b4e1-732932eed673","name":"Send Summary to Doctor","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}}],"connections":{"RPA Summary Webhook":{"main":[[{"node":"Format Summary (Agent)","type":"main","index":0}]]},"Format Summary (Agent)":{"main":[[{"node":"Send Summary to Doctor","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"Format Summary (Agent)","type":"ai_languageModel","index":0}]]},"Memory Formatter (DB)":{"ai_memory":[[{"node":"Format Summary (Agent)","type":"ai_memory","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[]}