webhook:-rpa-agentic-brain-di8T5bAlknZWpyb4.json
{"updatedAt":"2025-12-17T22:15:12.000Z","createdAt":"2025-12-16T22:31:15.769Z","id":"di8T5bAlknZWpyb4","name":"WEBHOOK: RPA Agentic Brain","active":false,"isArchived":true,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[624,-144],"id":"b8e4237a-456d-4a54-8bc7-83b5d30cdbf7","name":"Respond to RPA"},{"parameters":{"url":"={{ $json.body.screen.labeled_image }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-176,-144],"id":"d92038b3-2487-43b8-b4f4-d611a1132ed3","name":"GET Screenshot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Limpiador de JSON Robusto\n// Gemini a menudo devuelve ```json ... ``` lo que rompe los parsers normales\n\nlet rawText = $input.first().json.text\n\n// 1. Eliminar bloques de markdown\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n// 2. Limpiar espacios extra\nrawText = rawText.trim();\n\ntry {\n  // 3. Parsear\n  const cleanJSON = JSON.parse(rawText);\n  \n  // 4. Normalizar campos opcionales\n  if (!cleanJSON.status && cleanJSON.action !== 'finish') cleanJSON.status = 'running';\n  if (!cleanJSON.status && cleanJSON.action === 'finish') cleanJSON.status = 'finished';\n\n  return { json: cleanJSON };\n} catch (error) {\n  // Fallback si el JSON está roto\n  return {};\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-144],"id":"94fa85d6-0fc0-4cab-a76c-bd74773c6da1","name":"Clean JSON"},{"parameters":{"httpMethod":"POST","path":"agentic-brain","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,-144],"id":"3d3f9811-629c-4e09-8e67-82e1d7e70380","name":"Webhook RPA","webhookId":"50375401-84bf-4b0e-adf3-5dbd42d3dcc9"},{"parameters":{"promptType":"define","text":"=You are an autonomous RPA brain controlling a Windows computer screen. You must be ADAPTIVE and SELF-CORRECTING.\n\n=== GOAL ===\n{{ $('Webhook RPA').item.json.body.goal }}\n\n=== PREVIOUS STEPS (CRITICAL - ANALYZE FOR PATTERNS) ===\n{{ JSON.stringify($('Webhook RPA').item.json.body.history) }}\n\n=== CURRENT SCREEN ELEMENTS ===\n{{ JSON.stringify($('Webhook RPA').item.json.body.screen.elements) }}\n\n=== AVAILABLE ACTIONS ===\n| Action | Parameters | Description |\n|--------|------------|-------------|\n| click | target_id | Click on UI element |\n| double_click | target_id | Double-click on element |\n| type | text | Type text into focused field |\n| key_press | key | Press key: win, enter, escape, tab, up, down, left, right, home, end, pageup, pagedown, f1-f12 |\n| hotkey | keys | Keyboard shortcut: [\"ctrl\",\"c\"], [\"alt\",\"tab\"], [\"ctrl\",\"shift\",\"s\"] |\n| scroll | direction, target_id (optional) | Scroll up/down, optionally on specific element |\n| drag | coords, end_coords | Drag from [x,y] to [x,y] |\n| wait | - | Wait 2 seconds |\n| finish | output | Complete task with final result |\n\n=== CRITICAL RULES ===\n\n1. **DETECT STUCK LOOPS**: If the last 2-3 steps have the SAME reasoning or the screen hasn't changed:\n   - The previous action FAILED silently\n   - You MUST try a DIFFERENT approach\n   - Example: If key_press didn't work, try clicking on a visible element instead\n\n2. **WINDOWS KEY**: To open Windows Start/Search menu:\n   - Use: {\"action\": \"key_press\", \"key\": \"win\"}\n   - If that fails, look for Windows icon in taskbar and CLICK it (usually bottom-left, around coords [348, 743])\n\n3. **RECOVERY STRATEGIES when stuck**:\n   - If typing didn't appear: click on input field first, then type\n   - If key_press failed: try clicking a visible button/element instead\n   - If nothing changed after action: the action failed, try alternative\n   - If on desktop with no apps: open an app first before proceeding\n\n4. **SCREEN AWARENESS**: \n   - Look at element_count and screen_size to understand context\n   - If element_count is very low (< 30), you might be on desktop\n   - Desktop icons are clickable, use target_id to interact\n\n5. **BEFORE TYPING**: Always ensure focus is on correct input field\n   - Click on the input field FIRST\n   - Then use type action\n\n=== RESPONSE FORMAT ===\nYour response MUST be a valid JSON object. Do not include markdown formatting (like ```json).\nExample:\n{\n  \"action\": \"click\",\n  \"target_id\": 12,\n  \"reasoning\": \"I see the button needed\",\n  \"status\": \"running\"\n}","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[48,-144],"id":"49c25140-10e4-40ed-9255-ceb7af513af8","name":"Gemini Decision","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,80],"id":"d537326d-cab5-4b74-9972-957f58febb85","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"KrJCZebZjU0oR7Pk","name":"jgaspar-gemini"}}}],"connections":{"GET Screenshot":{"main":[[{"node":"Gemini Decision","type":"main","index":0}]]},"Clean JSON":{"main":[[{"node":"Respond to RPA","type":"main","index":0}]]},"Webhook RPA":{"main":[[{"node":"GET Screenshot","type":"main","index":0}]]},"Gemini Decision":{"main":[[{"node":"Clean JSON","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini Decision","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook RPA":[{"json":{"headers":{"host":"n8n-dev.hannamedma.com","user-agent":"python-requests/2.32.5","content-length":"7275","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"181.119.64.254","cf-ipcountry":"CO","cf-ray":"9af304b2cacd6e24-MIA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.69.132.213","x-forwarded-host":"n8n-dev.hannamedma.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"06e78cb5c95f","x-real-ip":"172.69.132.213"},"params":{},"query":{},"body":{"execution_id":"1212c3f3","goal":"1) Press Windows key to open search, 2) Type notepad, 3) Press enter, 4) Wait, 5) Type Hello Agentic!, 6) Use Ctrl+A hotkey to select all, 7) Press arrow down twice, 8) Type second line, 9) Finish","step_number":3,"history":[{"step":1,"action":"key_press","reasoning":"Pressing the Windows key to open the search bar as per the goal.","success":true},{"step":2,"action":"type","reasoning":"The Windows search bar is open. Typing \"notepad\" to find and open the application.","success":true}],"screen":{"elements":[{"id":0,"type":"text","content":"Mejor coincidencia","center":[392,187],"bbox":[331,179,453,195]},{"id":1,"type":"text","content":"Bloc","center":[379,333],"bbox":[364,327,394,340]},{"id":2,"type":"text","content":"notas","center":[431,333],"bbox":[412,327,451,340]},{"id":3,"type":"text","content":"Compartir","center":[740,479],"bbox":[711,470,770,488]},{"id":4,"type":"text","content":"notepad online","center":[412,585],"bbox":[361,576,463,594]},{"id":5,"type":"text","content":"9.33 p.","center":[1288,735],"bbox":[1268,726,1309,744]},{"id":6,"type":"text","content":"16/12/2025","center":[1293,752],"bbox":[1259,744,1327,761]},{"id":7,"type":"icon","content":"notepad Ejecutar comando ","center":[854,260],"bbox":[668,164,1040,357]},{"id":8,"type":"icon","content":"Configuracion ","center":[749,135],"bbox":[691,118,808,153]},{"id":9,"type":"icon","content":"Personas ","center":[849,135],"bbox":[808,118,891,153]},{"id":10,"type":"icon","content":"Documentos ","center":[581,135],"bbox":[527,118,635,153]},{"id":11,"type":"icon","content":"notepad Ejecutar comando ","center":[485,239],"bbox":[318,207,653,271]},{"id":12,"type":"icon","content":"Proyectos ","center":[110,37],"bbox":[76,4,144,70]},{"id":13,"type":"icon","content":"Todo ","center":[392,135],"bbox":[363,118,421,153]},{"id":14,"type":"icon","content":"Papellera de rreciclaje ","center":[38,40],"bbox":[0,5,76,76]},{"id":15,"type":"icon","content":"Aplicaciones ","center":[474,135],"bbox":[422,118,527,153]},{"id":16,"type":"icon","content":"Buscar ","center":[481,743],"bbox":[369,725,593,761]},{"id":17,"type":"icon","content":"Web ","center":[663,135],"bbox":[636,118,691,153]},{"id":18,"type":"icon","content":"notepad2 ","center":[482,457],"bbox":[318,436,647,479]},{"id":19,"type":"icon","content":"Notepad+ + ","center":[485,415],"bbox":[320,393,650,438]},{"id":20,"type":"icon","content":"notepad ","center":[484,500],"bbox":[319,479,650,522]},{"id":21,"type":"icon","content":"HHahnalvled RPA ","center":[37,112],"bbox":[0,79,74,145]},{"id":22,"type":"icon","content":"notepad+ + download ","center":[484,542],"bbox":[321,521,648,563]},{"id":23,"type":"icon","content":"Buscar Internet ","center":[486,373],"bbox":[320,353,652,394]},{"id":24,"type":"icon","content":"Aplicaciones ","center":[486,292],"bbox":[318,271,655,313]},{"id":25,"type":"icon","content":"notepad ","center":[680,88],"bbox":[311,69,1049,107]},{"id":26,"type":"icon","content":"Abrir ","center":[851,379],"bbox":[670,362,1032,397]},{"id":27,"type":"icon","content":"Ejecutar, administrador ","center":[772,413],"bbox":[675,396,870,431]},{"id":28,"type":"icon","content":"Abrir ubicacion de archivo ","center":[770,446],"bbox":[679,430,862,463]},{"id":29,"type":"icon","content":"the Windows operating system.","center":[347,743],"bbox":[325,722,369,765]},{"id":30,"type":"icon","content":"Play button","center":[966,745],"bbox":[944,723,988,767]},{"id":31,"type":"icon","content":"a folder.","center":[616,742],"bbox":[594,723,638,762]},{"id":32,"type":"icon","content":"a sticky note or sticky note.","center":[1010,745],"bbox":[989,724,1032,766]},{"id":33,"type":"icon","content":"a user profile or account.","center":[835,742],"bbox":[813,722,858,763]},{"id":34,"type":"icon","content":"the \"back\" function.","center":[342,136],"bbox":[322,117,362,156]},{"id":35,"type":"icon","content":"Refresh or reload.","center":[880,742],"bbox":[857,722,903,763]},{"id":36,"type":"icon","content":"Microsoft Edge browser.","center":[791,744],"bbox":[770,721,813,768]},{"id":37,"type":"icon","content":"a rainbow.","center":[923,745],"bbox":[902,722,945,768]},{"id":38,"type":"icon","content":"a dropdown menu or menu button.","center":[703,744],"bbox":[681,720,725,768]},{"id":39,"type":"icon","content":"a messaging or messaging app.","center":[660,742],"bbox":[639,721,682,764]},{"id":40,"type":"icon","content":"Refresh or reload.","center":[747,744],"bbox":[725,720,770,768]},{"id":41,"type":"icon","content":"the action to share content or file.","center":[1233,742],"bbox":[1219,726,1248,759]},{"id":42,"type":"icon","content":"unanswerable","center":[1027,136],"bbox":[1009,115,1046,157]},{"id":43,"type":"icon","content":"unanswerable","center":[989,136],"bbox":[970,114,1009,158]},{"id":44,"type":"icon","content":"Wi-Fi signal","center":[1181,743],"bbox":[1168,726,1195,761]},{"id":45,"type":"icon","content":"Refresh or reload.","center":[1206,743],"bbox":[1195,726,1218,760]},{"id":46,"type":"icon","content":"a low profile or profile indicator.","center":[934,136],"bbox":[918,117,950,155]},{"id":47,"type":"icon","content":"a moving or moving action.","center":[1109,744],"bbox":[1090,721,1128,768]},{"id":48,"type":"icon","content":"a forward or next action.","center":[624,586],"bbox":[604,564,644,608]},{"id":49,"type":"icon","content":"Microsoft Edge","center":[905,136],"bbox":[893,118,918,155]},{"id":50,"type":"icon","content":"Text formatting.","center":[1145,744],"bbox":[1126,721,1164,768]},{"id":51,"type":"icon","content":"a profile or profile picture.","center":[261,544],"bbox":[224,517,298,572]},{"id":52,"type":"icon","content":"unanswerable","center":[625,336],"bbox":[606,317,644,355]}],"element_count":53,"screen_size":[1366,768],"labeled_image":"https://replicate.delivery/czjl/fzjZ6sKEsXw0FipmzB9x2ggQ2NR24tQLZnODY4R960rHRezVA/output.png"},"screenshot_url":"https://answer-clinic-dev.s3.amazonaws.com/agentic/1212c3f3/step_3_20251216_213353.png?AWSAccessKeyId=AKIASAYLSNESN365FOYT&Signature=Se1fJuQ3QbyBskPFanLmVsszbpA%3D&Expires=1766025234"},"webhookUrl":"https://n8n-dev.hannamedma.com/webhook/agentic-brain","executionMode":"production"}}]},"versionId":"8e428b6b-5a7a-4a5c-8faf-67a8c89454b9","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-16T22:31:15.773Z","createdAt":"2025-12-16T22:31:15.773Z","role":"workflow:owner","workflowId":"di8T5bAlknZWpyb4","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":null,"tags":[]}