webhook:-rpa-error-BdGdKaqEsDGaFhwb.json
{"updatedAt":"2025-12-22T23:48:58.756Z","createdAt":"2025-12-18T22:37:18.553Z","id":"BdGdKaqEsDGaFhwb","name":"WEBHOOK: RPA Error","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-error","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,96],"id":"5c11da70-c49b-484d-9053-ee8ade25ef80","name":"RPA Error Webhook","webhookId":"rpa-error-webhook"},{"parameters":{"sendTo":"jgasparaxiasmedia@gmail.com","subject":"=AI RPA Error - {{ $json.body.type }}","message":"=<h3>RPA Flow Error</h3>\n<p><strong>Flow Type:</strong> {{ $json.body.type }}</p>\n<p><strong>User:</strong> {{ $json.body.sender }}</p>\n<p><strong>Doctor:</strong> {{ $json.body.doctor_name }}</p>\n<hr>\n<p><strong>Error:</strong> {{ $json.body.error }}</p>\n<p><strong>Failed Step:</strong> {{ $json.body.failed_step }}</p>\n<p><strong>Execution ID:</strong> {{ $json.body.execution_id }}</p>\n<p><strong>Timestamp:</strong> {{ $json.body.timestamp }}</p>\n<img src=\"{{ $json.body.screenshot_url }}\" />","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1120,96],"id":"77870d49-03cc-4bcd-922d-88678994cea4","name":"Send Email (RPA Error)","webhookId":"error-email-webhook","credentials":{"gmailOAuth2":{"id":"sYqO3adRPZQQ6L6U","name":"jgaspar-email"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"=573116347712@s.whatsapp.net","media":"={{ $('RPA Error Webhook').item.json.body.screenshot_url }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-896,96],"id":"238f3de8-0a89-468f-b9d1-fb0f61669458","name":"Send Screenshot to Admin","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"573116347712@s.whatsapp.net","messageText":"=🚨 *RPA Error Alert* 🚨\n\n*Flow:* {{ $('RPA Error Webhook').item.json.body.type }}\n*User:* {{ $('RPA Error Webhook').item.json.body.sender }}\n*Error:* {{ $('RPA Error Webhook').item.json.body.error }}\n*Failed Step:* {{ $('RPA Error Webhook').item.json.body.failed_step }}\n\n📄 *Execution Details*\n*ID:* {{ $('RPA Error Webhook').item.json.body.execution_id }}\n*Timestamp:* {{ $('RPA Error Webhook').item.json.body.timestamp }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-672,96],"id":"77e83df0-b0ff-4b9a-b956-c57f892cf9b3","name":"Notify Admin (WhatsApp)","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-on-demand","leftValue":"={{ $('RPA Error Webhook').item.json.body.trigger_type }}","rightValue":"on_demand","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,96],"id":"ec3021bf-5681-4cfa-aad0-b6133a464b08","name":"IF On Demand"},{"parameters":{"url":"={{ $('RPA Error Webhook').item.json.body.screenshot_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,0],"id":"7ecbc037-f7c3-4b2e-bfc3-4ddb448f61d3","name":"GET Screenshot Image"},{"parameters":{"promptType":"define","text":"=<context>\n- **Technical Report:**\n  - System: {{ $('RPA Error Webhook').item.json.body.type }}\n  - Error Code: {{ $('RPA Error Webhook').item.json.body.error }}\n  - Failed Step: {{ $('RPA Error Webhook').item.json.body.failed_step }}\n</context>","options":{"systemMessage":"=<role>\nYou are an empathetic Technical Support Assistant specializing in Medical RPA systems. Your mission is to act as a bridge between a failed automation process and the Doctor, translating technical jargon into professional, actionable clinical language.\n</role>\n\n<task>\nAnalyze the provided screenshot and the technical error log to explain to the Doctor why the patient data retrieval failed. You must diagnose the \"Visual Root Cause\" (what you see on the screen) vs the \"Technical Root Cause\" (the error code).\n</task>\n\n<vision_logic>\nWhen analyzing the attached screenshot, look for these indicators:\n1. WINDOWS DESKTOP VISIBLE: If you see the wallpaper/icons, the browser is closed. \n   - Solution: Ask the doctor to keep the Hospital Portal open.\n2. BLACK OR LOCK SCREEN: The PC is locked or in sleep mode. \n   - Solution: Ask the doctor to ensure the PC is awake and unlocked.\n3. ERROR POPUPS: If the hospital site shows a \"session expired\" or \"invalid login\" popup.\n   - Solution: Ask the doctor to log in manually.\n4. SPINNER/LOADING: If the site is stuck loading.\n   - Solution: Mention a possible network or hospital server issue.\n</vision_logic>\n\n<examples>\nInput Report: \"Timeout\", Image: Shows Windows Desktop.\nOutput: \"I apologize, Doctor, but the Assistant could not find the Hospital Portal on your screen. Please ensure the browser window is open and visible so I can retrieve your list.\"\n\nInput Report: \"Selector failed\", Image: Shows a 'Session Expired' popup on the portal.\nOutput: \"I apologize, Doctor, but your session on the Hospital Portal has expired. Please log in again so the Assistant can continue the process.\"\n</examples>\n\n<constraints>\n1. START ALWAYS with: \"I apologize, Doctor...\"\n2. NO TECHNICAL JARGON: Do not say \"selectors\", \"DOM\", or \"webhooks\". Say \"The Assistant\", \"The Portal\", or \"The Window\".\n3. TONE: Professional, clinical, and helpful.\n4. SOLUTION RULE: Always provide a clear instruction on how to fix it (e.g., \"Ensure the portal is open\").\n</constraints>\n\n<output_format>\n- Single paragraph.\n- Concise (Max 60 words).\n- WhatsApp friendly (no markdown tables).\n</output_format>","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"61225344-d593-44e7-b3ee-dc717c5fac25","name":"Interpret Error (Agent)","retryOnFail":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Error Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[144,224],"id":"575275c8-64bc-4119-8f32-57d1c581ba7b","name":"Memory Interpret (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[16,224],"id":"06e5ceee-eed6-42dd-907b-296c6217c24f","name":"LLM (Interpret Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Error Webhook').item.json.body.sender }}","messageText":"={{ $('Interpret Error (Agent)').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,0],"id":"4e171496-edc5-43a5-a4d2-2961176831b7","name":"Notify Doctor (WhatsApp)","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"errorMessage":"RPA Error Handled"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[576,0],"id":"efb57cee-5991-416b-ab64-555654db6674","name":"RPA Error Complete"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,192],"id":"75f91f72-d7fa-4917-a713-d2900c9bf29c","name":"Scheduled Error (No Doctor Notification)"}],"connections":{"RPA Error Webhook":{"main":[[{"node":"Send Email (RPA Error)","type":"main","index":0}]]},"Send Email (RPA Error)":{"main":[[{"node":"Send Screenshot to Admin","type":"main","index":0}]]},"Send Screenshot to Admin":{"main":[[{"node":"Notify Admin (WhatsApp)","type":"main","index":0}]]},"Notify Admin (WhatsApp)":{"main":[[{"node":"IF On Demand","type":"main","index":0}]]},"IF On Demand":{"main":[[{"node":"GET Screenshot Image","type":"main","index":0}],[{"node":"Scheduled Error (No Doctor Notification)","type":"main","index":0}]]},"GET Screenshot Image":{"main":[[{"node":"Interpret Error (Agent)","type":"main","index":0}]]},"Interpret Error (Agent)":{"main":[[{"node":"Notify Doctor (WhatsApp)","type":"main","index":0}]]},"Memory Interpret (DB)":{"ai_memory":[[{"node":"Interpret Error (Agent)","type":"ai_memory","index":0}]]},"LLM (Interpret Gemini)":{"ai_languageModel":[[{"node":"Interpret Error (Agent)","type":"ai_languageModel","index":0}]]},"Notify Doctor (WhatsApp)":{"main":[[{"node":"RPA Error Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f438f686-9078-4016-8841-eb984eb31206","activeVersionId":"f438f686-9078-4016-8841-eb984eb31206","triggerCount":1,"shared":[{"updatedAt":"2025-12-18T22:37:18.556Z","createdAt":"2025-12-18T22:37:18.556Z","role":"workflow:owner","workflowId":"BdGdKaqEsDGaFhwb","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T23:48:58.756Z","createdAt":"2025-12-22T23:48:58.756Z","versionId":"f438f686-9078-4016-8841-eb984eb31206","workflowId":"BdGdKaqEsDGaFhwb","nodes":[{"parameters":{"httpMethod":"POST","path":"rpa-error","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,96],"id":"5c11da70-c49b-484d-9053-ee8ade25ef80","name":"RPA Error Webhook","webhookId":"rpa-error-webhook"},{"parameters":{"sendTo":"jgasparaxiasmedia@gmail.com","subject":"=AI RPA Error - {{ $json.body.type }}","message":"=<h3>RPA Flow Error</h3>\n<p><strong>Flow Type:</strong> {{ $json.body.type }}</p>\n<p><strong>User:</strong> {{ $json.body.sender }}</p>\n<p><strong>Doctor:</strong> {{ $json.body.doctor_name }}</p>\n<hr>\n<p><strong>Error:</strong> {{ $json.body.error }}</p>\n<p><strong>Failed Step:</strong> {{ $json.body.failed_step }}</p>\n<p><strong>Execution ID:</strong> {{ $json.body.execution_id }}</p>\n<p><strong>Timestamp:</strong> {{ $json.body.timestamp }}</p>\n<img src=\"{{ $json.body.screenshot_url }}\" />","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1120,96],"id":"77870d49-03cc-4bcd-922d-88678994cea4","name":"Send Email (RPA Error)","webhookId":"error-email-webhook","credentials":{"gmailOAuth2":{"id":"sYqO3adRPZQQ6L6U","name":"jgaspar-email"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"=573116347712@s.whatsapp.net","media":"={{ $('RPA Error Webhook').item.json.body.screenshot_url }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-896,96],"id":"238f3de8-0a89-468f-b9d1-fb0f61669458","name":"Send Screenshot to Admin","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"573116347712@s.whatsapp.net","messageText":"=🚨 *RPA Error Alert* 🚨\n\n*Flow:* {{ $('RPA Error Webhook').item.json.body.type }}\n*User:* {{ $('RPA Error Webhook').item.json.body.sender }}\n*Error:* {{ $('RPA Error Webhook').item.json.body.error }}\n*Failed Step:* {{ $('RPA Error Webhook').item.json.body.failed_step }}\n\n📄 *Execution Details*\n*ID:* {{ $('RPA Error Webhook').item.json.body.execution_id }}\n*Timestamp:* {{ $('RPA Error Webhook').item.json.body.timestamp }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-672,96],"id":"77e83df0-b0ff-4b9a-b956-c57f892cf9b3","name":"Notify Admin (WhatsApp)","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-on-demand","leftValue":"={{ $('RPA Error Webhook').item.json.body.trigger_type }}","rightValue":"on_demand","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,96],"id":"ec3021bf-5681-4cfa-aad0-b6133a464b08","name":"IF On Demand"},{"parameters":{"url":"={{ $('RPA Error Webhook').item.json.body.screenshot_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,0],"id":"7ecbc037-f7c3-4b2e-bfc3-4ddb448f61d3","name":"GET Screenshot Image"},{"parameters":{"promptType":"define","text":"=<context>\n- **Technical Report:**\n  - System: {{ $('RPA Error Webhook').item.json.body.type }}\n  - Error Code: {{ $('RPA Error Webhook').item.json.body.error }}\n  - Failed Step: {{ $('RPA Error Webhook').item.json.body.failed_step }}\n</context>","options":{"systemMessage":"=<role>\nYou are an empathetic Technical Support Assistant specializing in Medical RPA systems. Your mission is to act as a bridge between a failed automation process and the Doctor, translating technical jargon into professional, actionable clinical language.\n</role>\n\n<task>\nAnalyze the provided screenshot and the technical error log to explain to the Doctor why the patient data retrieval failed. You must diagnose the \"Visual Root Cause\" (what you see on the screen) vs the \"Technical Root Cause\" (the error code).\n</task>\n\n<vision_logic>\nWhen analyzing the attached screenshot, look for these indicators:\n1. WINDOWS DESKTOP VISIBLE: If you see the wallpaper/icons, the browser is closed. \n   - Solution: Ask the doctor to keep the Hospital Portal open.\n2. BLACK OR LOCK SCREEN: The PC is locked or in sleep mode. \n   - Solution: Ask the doctor to ensure the PC is awake and unlocked.\n3. ERROR POPUPS: If the hospital site shows a \"session expired\" or \"invalid login\" popup.\n   - Solution: Ask the doctor to log in manually.\n4. SPINNER/LOADING: If the site is stuck loading.\n   - Solution: Mention a possible network or hospital server issue.\n</vision_logic>\n\n<examples>\nInput Report: \"Timeout\", Image: Shows Windows Desktop.\nOutput: \"I apologize, Doctor, but the Assistant could not find the Hospital Portal on your screen. Please ensure the browser window is open and visible so I can retrieve your list.\"\n\nInput Report: \"Selector failed\", Image: Shows a 'Session Expired' popup on the portal.\nOutput: \"I apologize, Doctor, but your session on the Hospital Portal has expired. Please log in again so the Assistant can continue the process.\"\n</examples>\n\n<constraints>\n1. START ALWAYS with: \"I apologize, Doctor...\"\n2. NO TECHNICAL JARGON: Do not say \"selectors\", \"DOM\", or \"webhooks\". Say \"The Assistant\", \"The Portal\", or \"The Window\".\n3. TONE: Professional, clinical, and helpful.\n4. SOLUTION RULE: Always provide a clear instruction on how to fix it (e.g., \"Ensure the portal is open\").\n</constraints>\n\n<output_format>\n- Single paragraph.\n- Concise (Max 60 words).\n- WhatsApp friendly (no markdown tables).\n</output_format>","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"61225344-d593-44e7-b3ee-dc717c5fac25","name":"Interpret Error (Agent)","retryOnFail":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RPA Error Webhook').item.json.body.sender }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[144,224],"id":"575275c8-64bc-4119-8f32-57d1c581ba7b","name":"Memory Interpret (DB)","credentials":{"postgres":{"id":"vco4Kr7sdX6k6VA9","name":"hannamedma-db-n8n-dev"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[16,224],"id":"06e5ceee-eed6-42dd-907b-296c6217c24f","name":"LLM (Interpret Gemini)","credentials":{"googlePalmApi":{"id":"jfQ4NxGIUeIYvaNb","name":"axias-gemini"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('RPA Error Webhook').item.json.body.instance }}","remoteJid":"={{ $('RPA Error Webhook').item.json.body.sender }}","messageText":"={{ $('Interpret Error (Agent)').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,0],"id":"4e171496-edc5-43a5-a4d2-2961176831b7","name":"Notify Doctor (WhatsApp)","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"errorMessage":"RPA Error Handled"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[576,0],"id":"efb57cee-5991-416b-ab64-555654db6674","name":"RPA Error Complete"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,192],"id":"75f91f72-d7fa-4917-a713-d2900c9bf29c","name":"Scheduled Error (No Doctor Notification)"}],"connections":{"RPA Error Webhook":{"main":[[{"node":"Send Email (RPA Error)","type":"main","index":0}]]},"Send Email (RPA Error)":{"main":[[{"node":"Send Screenshot to Admin","type":"main","index":0}]]},"Send Screenshot to Admin":{"main":[[{"node":"Notify Admin (WhatsApp)","type":"main","index":0}]]},"Notify Admin (WhatsApp)":{"main":[[{"node":"IF On Demand","type":"main","index":0}]]},"IF On Demand":{"main":[[{"node":"GET Screenshot Image","type":"main","index":0}],[{"node":"Scheduled Error (No Doctor Notification)","type":"main","index":0}]]},"GET Screenshot Image":{"main":[[{"node":"Interpret Error (Agent)","type":"main","index":0}]]},"Interpret Error (Agent)":{"main":[[{"node":"Notify Doctor (WhatsApp)","type":"main","index":0}]]},"Memory Interpret (DB)":{"ai_memory":[[{"node":"Interpret Error (Agent)","type":"ai_memory","index":0}]]},"LLM (Interpret Gemini)":{"ai_languageModel":[[{"node":"Interpret Error (Agent)","type":"ai_languageModel","index":0}]]},"Notify Doctor (WhatsApp)":{"main":[[{"node":"RPA Error Complete","type":"main","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[{"updatedAt":"2025-12-22T23:48:52.484Z","createdAt":"2025-12-22T23:48:52.484Z","id":"zaH2Tc1drRr4Km7V","name":"hanna-med-ma-n8n/webhook"}]}