welcome-1RTsBwm0SeDXf3dr.json
{"updatedAt":"2025-12-22T01:44:35.818Z","createdAt":"2025-12-21T15:25:58.648Z","id":"1RTsBwm0SeDXf3dr","name":"Welcome","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-496,16],"id":"e0d8afde-7288-47c1-a564-c25d2ff974e3","name":"Trigger: Gmail (New Lead)","credentials":{"gmailOAuth2":{"id":"sYqO3adRPZQQ6L6U","name":"jgaspar-email"}}},{"parameters":{"jsCode":"const resultados = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const json = item.json;\n  const snippet = json.snippet || '';\n  const subject = json.Subject || '';\n\n  // 1. FILTRO: Solo procesamos si el asunto contiene \"Nuevo Lead\"\n  if (subject.includes('Nuevo Lead')) {\n    \n    // 2. EXTRACCIÓN\n    const nombreMatch = snippet.match(/Nombre:\\s*(.*?)\\s*📧/);\n    const emailMatch = snippet.match(/Email:\\s*(.*?)\\s*📞/);\n    const whatsappMatch = snippet.match(/Whatsapp:\\s*(.*?)\\s*🌐/);\n    const tiendaMatch = snippet.match(/Tienda:\\s*(.*?)\\s*🛒/);\n\n    // 3. LIMPIEZA DE DATOS\n    // Limpiamos el whatsapp aquí para no usar regex en cada nodo posterior\n    const rawWhatsapp = whatsappMatch ? whatsappMatch[1].trim() : '';\n    const cleanWhatsapp = rawWhatsapp.replace(/\\D/g, ''); // Deja solo números\n\n    const datosLimpios = {\n      ...json, \n      lead_nombre: nombreMatch ? nombreMatch[1].trim() : 'No encontrado',\n      lead_email: emailMatch ? emailMatch[1].trim() : 'No encontrado',\n      lead_whatsapp_raw: rawWhatsapp,\n      lead_whatsapp_clean: cleanWhatsapp,\n      lead_tienda: tiendaMatch ? tiendaMatch[1].trim() : 'No encontrado'\n    };\n\n    resultados.push({ json: datosLimpios });\n  }\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,16],"id":"67790f69-db76-44d1-8bda-92d71a194267","name":"Extraer Datos (Regex)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8bf59112-ce65-4c1d-b2c5-643e3c433e6e","leftValue":"={{ $json.lead_whatsapp_clean }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b0708669-806b-405e-922b-9704b675472e","leftValue":"={{ $json.lead_whatsapp_clean }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-48,16],"id":"902a74a2-3ea0-44c3-9b1f-1c7814bbd241","name":"Validar WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"cartloop","remoteJid":"={{ $json.lead_whatsapp_clean }}@s.whatsapp.net","messageText":"👀 Tu competencia no tiene esto...","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-80],"id":"d5c43ddd-2588-4770-8a1b-c0125f4946c0","name":"WA: Enviar Hook","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"WAhoMTNdLdMoq1j3wf3I","mode":"list","cachedResultName":"Hope - Smooth, Engaging and Kind"},"text":"=Hola {{ $('Extraer Datos (Regex)').item.json.lead_nombre }}, bienvenido a CartLoop. ¡Estás en la lista! Mientras preparamos tu acceso, respóndeme lo siguiente...","additionalOptions":{"model":{"__rl":true,"value":"eleven_multilingual_v2","mode":"list","cachedResultName":"Eleven Multilingual v2"}},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[624,-80],"id":"a8cbe262-7491-4f0f-bfd3-fe8f9e0a0b78","name":"Generar Audio","credentials":{"elevenLabsApi":{"id":"eacQ1SVg0dcOCXQZ","name":"jgaspar-elevenlabs"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"cartloop","remoteJid":"={{ $('Extraer Datos (Regex)').item.json.lead_whatsapp_clean }}@s.whatsapp.net","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1072,-80],"id":"aafd64b7-d295-4327-8981-2fb586c4421f","name":"WA: Enviar Audio","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[848,-80],"id":"1557805b-fd6e-4957-b1aa-fe820ecd2d30","name":"Convertir a Base64"},{"parameters":{"resource":"messages-api","instanceName":"cartloop","remoteJid":"={{ $('Extraer Datos (Regex)').item.json.lead_whatsapp_clean }}@s.whatsapp.net","messageText":"Cuál es el mayor problema técnico de tu negocio hoy?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1520,-80],"id":"b880c498-fe88-4e06-b948-a2476f35597f","name":"WA: Pregunta Cierre","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,-80],"id":"7e0646cc-de1f-4d17-8b9f-94f8064da095","name":"Esperar 2s","webhookId":"468e112d-0f08-4a3e-aa86-f6ca423293d6"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-80],"id":"c4ed07bc-c543-4b79-96f2-33f9a224af26","name":"Esperar Audio 4s","webhookId":"c82dc546-633c-4e6a-96bb-a855a5bcb3c2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[176,112],"id":"986bdc2a-a294-4eb8-8865-d18907b66305","name":"No hacer nada"}],"connections":{"Trigger: Gmail (New Lead)":{"main":[[{"node":"Extraer Datos (Regex)","type":"main","index":0}]]},"Extraer Datos (Regex)":{"main":[[{"node":"Validar WhatsApp","type":"main","index":0}]]},"Validar WhatsApp":{"main":[[{"node":"WA: Enviar Hook","type":"main","index":0}],[{"node":"No hacer nada","type":"main","index":0}]]},"WA: Enviar Hook":{"main":[[{"node":"Esperar 2s","type":"main","index":0}]]},"Generar Audio":{"main":[[{"node":"Convertir a Base64","type":"main","index":0}]]},"WA: Enviar Audio":{"main":[[{"node":"Esperar Audio 4s","type":"main","index":0}]]},"Convertir a Base64":{"main":[[{"node":"WA: Enviar Audio","type":"main","index":0}]]},"Esperar 2s":{"main":[[{"node":"Generar Audio","type":"main","index":0}]]},"Esperar Audio 4s":{"main":[[{"node":"WA: Pregunta Cierre","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1766340183,"possibleDuplicates":["19b421448620d6bc"]}},"node:Trigger: Gmail (New Lead)":{"Trigger: Gmail (New Lead)":{"lastTimeChecked":1766367875}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe5b02c3-7bf3-4818-acd0-710556d7ac42","activeVersionId":"fe5b02c3-7bf3-4818-acd0-710556d7ac42","triggerCount":1,"shared":[{"updatedAt":"2025-12-21T15:25:58.652Z","createdAt":"2025-12-21T15:25:58.652Z","role":"workflow:owner","workflowId":"1RTsBwm0SeDXf3dr","projectId":"DaAwELhdiJ5pK9GD"}],"activeVersion":{"updatedAt":"2025-12-22T01:44:35.819Z","createdAt":"2025-12-22T01:44:35.819Z","versionId":"fe5b02c3-7bf3-4818-acd0-710556d7ac42","workflowId":"1RTsBwm0SeDXf3dr","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-496,16],"id":"e0d8afde-7288-47c1-a564-c25d2ff974e3","name":"Trigger: Gmail (New Lead)","credentials":{"gmailOAuth2":{"id":"sYqO3adRPZQQ6L6U","name":"jgaspar-email"}}},{"parameters":{"jsCode":"const resultados = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const json = item.json;\n  const snippet = json.snippet || '';\n  const subject = json.Subject || '';\n\n  // 1. FILTRO: Solo procesamos si el asunto contiene \"Nuevo Lead\"\n  if (subject.includes('Nuevo Lead')) {\n    \n    // 2. EXTRACCIÓN\n    const nombreMatch = snippet.match(/Nombre:\\s*(.*?)\\s*📧/);\n    const emailMatch = snippet.match(/Email:\\s*(.*?)\\s*📞/);\n    const whatsappMatch = snippet.match(/Whatsapp:\\s*(.*?)\\s*🌐/);\n    const tiendaMatch = snippet.match(/Tienda:\\s*(.*?)\\s*🛒/);\n\n    // 3. LIMPIEZA DE DATOS\n    // Limpiamos el whatsapp aquí para no usar regex en cada nodo posterior\n    const rawWhatsapp = whatsappMatch ? whatsappMatch[1].trim() : '';\n    const cleanWhatsapp = rawWhatsapp.replace(/\\D/g, ''); // Deja solo números\n\n    const datosLimpios = {\n      ...json, \n      lead_nombre: nombreMatch ? nombreMatch[1].trim() : 'No encontrado',\n      lead_email: emailMatch ? emailMatch[1].trim() : 'No encontrado',\n      lead_whatsapp_raw: rawWhatsapp,\n      lead_whatsapp_clean: cleanWhatsapp,\n      lead_tienda: tiendaMatch ? tiendaMatch[1].trim() : 'No encontrado'\n    };\n\n    resultados.push({ json: datosLimpios });\n  }\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,16],"id":"67790f69-db76-44d1-8bda-92d71a194267","name":"Extraer Datos (Regex)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8bf59112-ce65-4c1d-b2c5-643e3c433e6e","leftValue":"={{ $json.lead_whatsapp_clean }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b0708669-806b-405e-922b-9704b675472e","leftValue":"={{ $json.lead_whatsapp_clean }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-48,16],"id":"902a74a2-3ea0-44c3-9b1f-1c7814bbd241","name":"Validar WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"cartloop","remoteJid":"={{ $json.lead_whatsapp_clean }}@s.whatsapp.net","messageText":"👀 Tu competencia no tiene esto...","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-80],"id":"d5c43ddd-2588-4770-8a1b-c0125f4946c0","name":"WA: Enviar Hook","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"WAhoMTNdLdMoq1j3wf3I","mode":"list","cachedResultName":"Hope - Smooth, Engaging and Kind"},"text":"=Hola {{ $('Extraer Datos (Regex)').item.json.lead_nombre }}, bienvenido a CartLoop. ¡Estás en la lista! Mientras preparamos tu acceso, respóndeme lo siguiente...","additionalOptions":{"model":{"__rl":true,"value":"eleven_multilingual_v2","mode":"list","cachedResultName":"Eleven Multilingual v2"}},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[624,-80],"id":"a8cbe262-7491-4f0f-bfd3-fe8f9e0a0b78","name":"Generar Audio","credentials":{"elevenLabsApi":{"id":"eacQ1SVg0dcOCXQZ","name":"jgaspar-elevenlabs"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"cartloop","remoteJid":"={{ $('Extraer Datos (Regex)').item.json.lead_whatsapp_clean }}@s.whatsapp.net","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1072,-80],"id":"aafd64b7-d295-4327-8981-2fb586c4421f","name":"WA: Enviar Audio","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[848,-80],"id":"1557805b-fd6e-4957-b1aa-fe820ecd2d30","name":"Convertir a Base64"},{"parameters":{"resource":"messages-api","instanceName":"cartloop","remoteJid":"={{ $('Extraer Datos (Regex)').item.json.lead_whatsapp_clean }}@s.whatsapp.net","messageText":"Cuál es el mayor problema técnico de tu negocio hoy?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1520,-80],"id":"b880c498-fe88-4e06-b948-a2476f35597f","name":"WA: Pregunta Cierre","credentials":{"evolutionApi":{"id":"9mu4t1sLVMqweOrz","name":"hannamedma-evolutionapi-dev"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,-80],"id":"7e0646cc-de1f-4d17-8b9f-94f8064da095","name":"Esperar 2s","webhookId":"468e112d-0f08-4a3e-aa86-f6ca423293d6"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-80],"id":"c4ed07bc-c543-4b79-96f2-33f9a224af26","name":"Esperar Audio 4s","webhookId":"c82dc546-633c-4e6a-96bb-a855a5bcb3c2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[176,112],"id":"986bdc2a-a294-4eb8-8865-d18907b66305","name":"No hacer nada"}],"connections":{"Trigger: Gmail (New Lead)":{"main":[[{"node":"Extraer Datos (Regex)","type":"main","index":0}]]},"Extraer Datos (Regex)":{"main":[[{"node":"Validar WhatsApp","type":"main","index":0}]]},"Validar WhatsApp":{"main":[[{"node":"WA: Enviar Hook","type":"main","index":0}],[{"node":"No hacer nada","type":"main","index":0}]]},"WA: Enviar Hook":{"main":[[{"node":"Esperar 2s","type":"main","index":0}]]},"Generar Audio":{"main":[[{"node":"Convertir a Base64","type":"main","index":0}]]},"WA: Enviar Audio":{"main":[[{"node":"Esperar Audio 4s","type":"main","index":0}]]},"Convertir a Base64":{"main":[[{"node":"WA: Enviar Audio","type":"main","index":0}]]},"Esperar 2s":{"main":[[{"node":"Generar Audio","type":"main","index":0}]]},"Esperar Audio 4s":{"main":[[{"node":"WA: Pregunta Cierre","type":"main","index":0}]]}},"authors":"Jose Gaspar","name":null,"description":null},"tags":[]}